﻿@model IEnumerable<SeibukanIndia.Models.PhotoCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Photo Category</h2>

<h3 style="text-align:right">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "PhotoCategories", null)'"><em class="fa fa-plus"></em>  New Category</button>
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhotoCategory1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoCategory1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhotoCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhotoCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhotoCategoryID })
        </td>
    </tr>
}

</table>
