﻿@model IEnumerable<SeibukanIndia.Models.Admin>

@{
    ViewBag.Title = "AdminList";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>AdminList</h2>

<p>
    @Html.ActionLink("Create New", "AdminRegistration")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AdminName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AdminName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Admin", new { id=item.AdminID }, null) |
            @Html.ActionLink("Delete", "Delete", "Admin", new { id=item.AdminID })
        </td>
    </tr>
}

</table>
