﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>International Owinawan Shorin-Ryu Seibukan Karate-do of India</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/datepicker3.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>Seibukan </span>India</a>
                @using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <em class="fa fa-envelope"></em>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                               
                                <li class="divider"></li>
                                <li>
                                    <div class="all-button">
                                        <a href="@Url.Action("Index", "Contacts")">
                                            <em class="fa fa-inbox"></em> <strong>All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <em class="fa fa-user"></em>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <em class="fa fa-user"></em> @User.Identity.Name

                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <div>
                                            <em class="fa fa-power-off"></em>Logout
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img class="img-responsive" src="~/Content/images/seibukan_logo.png" />
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">Administrator</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <ul class="nav menu">
            <li><a href="@Url.Action("Index", "Cpanel")"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-0">
                    <em class="fa fa-tasks">&nbsp;</em>Directory<span data-toggle="collapse" href="#sub-item-0" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-0">
                    <li>
                        <a class="" href="~/Instructor/Index">
                            <span class="fa fa-male">&nbsp;</span> Instructors
                        </a>
                    </li>
                    <li>
                        <a class="" href="~/Dojo/Index">
                            <span class="fa fa-university">&nbsp;</span> Dojos
                        </a>
                    </li>
                    <li>
                        <a class="" href="~/InstructorDojoes/Index">
                            <span class="fa fa-object-group">&nbsp;</span>Dojo- Instructor 
                        </a>
                    </li>

                </ul>
            </li>
       

            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-3">
                    <em class="fa fa-camera">&nbsp;</em>Photo Gallery <span data-toggle="collapse" href="#sub-item-3" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-3">
                    <li>
                        <a class="" href="@Url.Action("Index", "PhotoCategories")">
                            <span class="fa fa-cubes">&nbsp;</span>Add Photo Events
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "PhotoGalleries")">
                            <span class="fa fa-camera-retro">&nbsp;</span> Add Photos
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index", "NewsEvents")"><em class="fa fa-newspaper-o">&nbsp;</em> News &amp; Events</a></li>

            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-4">
                    <em class="fa fa-map">&nbsp;</em>Location <span data-toggle="collapse" href="#sub-item-4" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-4">
                    <li>
                        <a class="" href="@Url.Action("Index", "States")">
                            <span class="fa fa-th-large">&nbsp;</span>State
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "Districts")">
                            <span class="fa fa-th">&nbsp;</span>District
                        </a>
                    </li>
                    
                </ul>
            </li>
           

            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-5">
                    <em class="fa fa-gears">&nbsp;</em>Settings <span data-toggle="collapse" href="#sub-item-4" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-5">
                    <li>
                        <a class="" href="@Url.Action("Index", "Roles")">
                            <span class="fa fa-pencil-square-o">&nbsp;</span>Admin Role
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("AdminList", "Admin")">
                            <span class="fa fa-pencil-square-o">&nbsp;</span>Admin Registration
                        </a>
                    </li>
                    
                    
                </ul>
            </li>
            <li>
                @using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a href="javascript:document.getElementById('logoutForm').submit()"><em class="fa fa-power-off">&nbsp;</em> Logout</a>
                }
            </li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active"><a href="@Url.Action("Index", "Cpanel")">Dashboard</a></li>
            </ol>
        </div><!--/.row-->
        <!--/.row-->

        @RenderBody()

    </div>	<!--/.main-->

    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
		window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
