﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>International Okinawan Shorin-Ryu Seibukan Karate-do of India</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="International Okinawan Shorin-Ryu Seibukan Karate-do of India, Karate Training, Kobudo Training, Aikido Training" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/style-sheet.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/hover.css" type="text/css" media="all" />
    <script src="~/scripts/ckeditor/ckeditor.js"></script>
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Arvo:400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //font -->
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <!-- banner -->
    <div class="banner jarallax">
        <div class="header">
            <div class="container">
                <div class="header-left">
                    <div class="w3layouts-logo">
                        <h1>
                            <a href="~/Main/Index">International Okinawan Shorin-Ryu Seibukan Karate-do of India</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-header-bottom">
            <div class="agileinfo-phone">
                <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +91 988 417 97 53</p>
            </div>
            <div class="top-nav">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="first-list"><a href="@Url.Action("Index","Main", null)">Home</a></li>
                            <li class="dropdown">
                                <a href="codes.html" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("AboutUs","Main", null)">About us</a></li>
                                    <li><a href="@Url.Action("History","Main", null)">History</a></li>
                                    <li><a href="@Url.Action("Gallery","Main", null)">Gallery</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Dojos","Main", null)">Our Dojos</a></li>
                            <li><a href="@Url.Action("Instructors","Main", null)">Our Instructors</a></li>
                            <li><a href="@Url.Action("NewsEvents","Main", null)">News &amp; Events</a></li>
                            <li><a href="@Url.Action("ContactUs","Main", null)">Contact</a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </nav>
            </div>
            <div class="agileinfo-social-grids">
                @using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <em class="fa fa-user"></em>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <em class="fa fa-user"></em> @User.Identity.Name

                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <div>
                                            <em class="fa fa-power-off"></em>Logout
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //banner -->

@RenderBody()
    <!-- footer -->
    <footer>
        <div class="w3ls-footer-grids">
            <div class="container">
                <div class="col-md-3 w3l-footer one">
                    <h3>Seibukan India</h3>
                    <p> Seibukan Karate do was founded by Zenryo Shimabukuro (1906 ~ 1969). Sensei Zenryo, 10th Dan Hanshi, was the foremost student of Sensei Kyan Chotoku. After 10 years of training under Sensei Kyan, Sensei Zenryo built his own dojo in Jagaru, Okinawa in 1962.</p>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 w3l-footer agileinfo_footer_grid">
                    <h3>Navigation</h3>
                    <div class="nav-w3-l">
                        <ul>
                            <li><a href="@Url.Action("Index","Main", null)"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a></li>
                            <li><a href="@Url.Action("AboutUs","Main", null)"><i class="fa fa-angle-right" aria-hidden="true"></i> About Us</a></li>
                            <li><a href="@Url.Action("History","Main", null)"><i class="fa fa-angle-right" aria-hidden="true"></i> History</a></li>
                            <li><a href="@Url.Action("Gallery","Main", null)"><i class="fa fa-angle-right" aria-hidden="true"></i> Gallery</a></li>
                            <li><a href="@Url.Action("Dojos","Main", null)"><i class="fa fa-angle-right" aria-hidden="true"></i> Our Dojos</a></li>
                            <li><a href="@Url.Action("Instructors","Main", null)"><i class="fa fa-angle-right" aria-hidden="true"></i> Our Instuctors</a></li>
                            <li><a href="@Url.Action("ContactUs","Main", null)"><i class="fa fa-angle-right" aria-hidden="true"></i> Contact</a></li>
                            <li><a href="@Url.Action("Index","Cpanel", null)"><i class="fa fa-angle-right" aria-hidden="true"></i> Admin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 w3l-footer two">
                    <h3>Keep Connected</h3>
                    <ul>
                        <li><a class="fb" href="#"><i class="fa fa-facebook"></i>Like us on Facebook</a></li>
                        <li><a class="fb1" href="#"><i class="fa fa-twitter"></i>Follow us on Twitter</a></li>
                        <li><a class="fb2" href="#"><i class="fa fa-google-plus"></i>Add us on Google Plus</a></li>
                        <li><a class="fb3" href="#"><i class="fa fa-dribbble"></i>Follow us on Dribbble</a></li>
                        <li><a class="fb4" href="#"><i class="fa fa-pinterest-p"></i>Follow us on Pinterest</a></li>
                    </ul>
                </div>
                <div class="col-md-3 w3l-footer three">
                    <h3>Address</h3>
                    <ul>
                        <li><i class="fa fa-map-marker"></i><p>Seibukan India </p><p>12/4, R.E.Apartments, Athereyapuram Main Road, Choolaimedu, Chennai-600 094.</p><div class="clearfix"></div> </li>
                        <li><i class="fa fa-phone"></i><p>+91 044 23751330 / 98841 79753</p> <div class="clearfix"></div> </li>
                        <li><i class="fa fa-envelope-o"></i><a href="mailto:seibukan.ratnapala@gmail.com">seibukan.ratnapala@gmail.com</a> <div class="clearfix"></div></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="copy-right-grids">
            <div class="container">
                <div class="copy-left">
                    <p class="footer-gd">© @DateTime.Today.Year : International Okinawan Shorin-Ryu Seibukan Karate-do of India. All Rights Reserved | Powered by <a href="http://klickevents.in" target="_blank"> Klickevents Info Solutions Pvt. Ltd.</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script src="~/Content/js/jarallax.js"></script>
    <script src="~/Content/js/jarallax.js"></script>
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <script src="~/Content/js/SmoothScroll.min.js"></script>

    <script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
    </script>

    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>

    @*<script type="text/javascript" src="~/Content/js/jquery-1.11.1.min.js"></script>
   <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>*@
    <script type="text/javascript" src="~/Content/js/toggle.js"></script>

    @*<script type="text/javascript" src="~/Content/js/nav-fixed.js"></script>*@
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
    @RenderSection("scripts", required: false)
</body>
</html>