﻿@model SeibukanIndia.Models.InstructorDojo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InstructorDojo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dojo.DojoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dojo.DojoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstructorDojoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
