﻿@model IEnumerable<SeibukanIndia.Models.InstructorDojo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Index</h2>

<h3 style="text-align:right">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "InstructorDojoes", null)'"><em class="fa fa-plus"></em>  Add Instructor / Dojo</button>
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dojo.DojoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.FullName)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dojo.DojoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.FullName)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstructorDojoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstructorDojoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstructorDojoID })
        </td>
    </tr>
}

</table>
