﻿@model IEnumerable<SeibukanIndia.Models.NewsEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>News &amp; Events</h2>

<h3 style="text-align:right">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "NewsEvents", null)'"><em class="fa fa-plus"></em>  New Event</button>
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTitle)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Content/NewsEvents/@item.Photo" width="80" />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTitle)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NewsEventsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewsEventsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewsEventsID })
        </td>
    </tr>
}

</table>
