﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
	<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="agile-about-top">
    <div class="container">
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Main", null)</li>
                <li class="active">About Us</li>
            </ol>
        </div>
        <div class="about-section">
            <div class="col-md-4 ab-left">
                <div class="grid">
                <img src="~/Content/images/Rantapala.jpg" alt="img25" class="img-responsive">
                 <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-8 ab-text">
                <h3>Birth of Seibukan</h3>
                <p>
                    Seibukan Karate do was founded by Zenryo Shimabukuro (1906 ~ 1969). Sensei Zenryo, 10th Dan Hanshi, was the foremost student of Sensei Kyan Chotoku. After 10 years of training under Sensei Kyan, Sensei Zenryo built his own dojo in Jagaru, Okinawa in 1962. He named his dojo as "Seibukan" meaning "the holy art school". In 1964, Sensei Zenryo received his 10th Dan black belt from All Okinawan Karate do Federation. After his untimely death in 1969, his son Hanshi Zenpo Shimabukuro succeeded him as the head of Seibukan karate do.  
                </p>
                <p>
                    Hanshi Zenpo Shimabukuro (10th Dan black belt) was born in Chatan Cho, Okinawa, on the 11th of October, 1943. As the head of the movement, he has loyally maintained the tradition of Sensei Chotoku Kyan which he has inherited from his father, Zenryo.
                    He is the Supreme Instructor and Technical Director of the International Okinawan Shorin Ryu Seibukan Karate do Association which has branch dojos in over 18 foreign countries.

                </p>
                <h3>Seibukan in India</h3>
                <p>
                    Seibukan dojo in India was initially started in 1975 by Sensei P. Kuppusamy from Malaysia. He was a direct student of Kyoshi Jamal Measara. Sensei P. Kuppusamy was considered one of the best karate instructors of his time. He came to India for the sole purpose of introducing and imparting the noble art of Seibukan Ryu. Under his able supervision and dedicated teaching, Seibukan soon became one of the most prominent styles in India - well reputed for its discipline and high technical standards. Sensei P.R. Ratnapala is the Chief Instructor and Technical Director of Seibukan Karate do in India. 
                </p>
                <p>
                    Sensei P.R. Ratnapala was born in Sri Lanka on the 21st of November, 1955. He started his karate training under his uncle K.V. Subramaniyan in 1972. He later joined under Sensei P. Kuppusamy when the Seibukan dojo was started in Chennai. In 1978, he went to Malaysia and trained under Kyoshi Jamal Measara and Sensei Chin Mok Sung and was graded to shodan by Sensei Chin Mok Sung.
                </p>
                <p>
                    In 1993, he visited Okinawa and trained directly under Hanshi Zenpo Shimabukuro. Since then, he has been traveling regularly to Okinawa and he is a referee in the Okinawan world tournaments. In 2001, he visited Atlanta for the traditional tournament and trained under Kyoshi Dan Smith. He holds a 6th Dan black belt in Seibukan karate and a 4th Dan black belt in Jinbukan kobudo. Seibukan is credited for introducing authentic Okinawan system of kobudo in India. Under the efficient and committed leadership of Sensei Ratnapala, Seibukan karate has spread throughout India and currently has got branch dojos in 8 different states in India. His students have opened up dojos in Kuwait, Bahrain, Qatar, Sri Lanka and New Zealand. 
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- //about -->
