﻿ @model SeibukanIndia.Models.ContactMail
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Main", null)</li>
                <li class="active">Contact Us</li>
            </ol>
        </div>
        <div class="map">
            <h4>How to find us :</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.5960380663187!2d80.2251937152415!3d13.06136571643519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52668b90416d5f%3A0x3ba12cd45badbcf7!2sAthreyapuram+Main+Rd%2C+Choolaimedu%2C+Chennai%2C+Tamil+Nadu+600094!5e0!3m2!1sen!2sin!4v1523271018755" width="1300" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="address">
            <div class="col-sm-4 address-grids">
                <h4>Address :</h4>
                <ul>
                    <li>
                        <p>
                            12/4, R.E.Apartments,<br />
                             Athereyapuram Main Road, <br />
                            Choolaimedu, Chennai-600 094.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 address-grids">
                <h4>Phone :</h4>
                <p>+91 044 23751330 </p>
                <p>+91 044 64570055</p>
            </div>
            <div class="col-sm-4 address-grids">
                <h4>Email :</h4>
                <p><a href="mailto:seibukan.ratnapala@gmail.com">seibukan.ratnapala@gmail.com
</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="contact-infom">
            <h4>Miscellaneous Information:</h4>
            <p>
                Miscellaneous information .........................................
            </p>
        </div>
        <div class="contact-form">
            <h4>Contact Form</h4>
            @{
                if (ViewBag.Status != null)
                {
                    <div class="col-md-offset-2 alert-info alert col-lg-6">
                        <h4> @ViewBag.Status</h4>
                    </div>
                }
            }
            <div class="clearfix"></div>
            @using (Html.BeginForm("ContactUs", "Main", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", role = "form" }))
            {

                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name *", @type = "text" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                @Html.TextBoxFor(m => m.Telephone, new { @placeholder = "Telephone Number", @type = "text" })
               

                @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message *" })
                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })

                <input type="submit" value="Send" name="submit" class="button"> <input type="reset" value="Reset" name="MFReset" class="button"><span>  * Required Fields</span>
            }
           
        </div>
    </div>
</div>
<!-- //contact -->

