﻿@model SeibukanIndia.Models.Dojo
@{
    ViewBag.Title = "DojosDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>Dojo</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="agile-about-top">
    <div class="container">
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <div class="text-align-right">@Html.ActionLink("Login", "Login", "Dojo")</div>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Main", null)</li>
                <li>@Html.ActionLink("Our Dojos", "Dojos", "Main", null)</li>
                <li class="active">Details</li>
            </ol>
        </div>
        <div class="about-section">
            <div class="col-md-3 col-sm-3  ab-left">
                <div class="centered">
                    <img src="~/Dojos/logo/@Model.Logo" alt="img25" class="img-responsive">
                    <h5>Address</h5>
                    <p>@Model.DojoAddress</p>
                    <h5>Phone</h5>
                    <p>@Model.Phone</p>
                    <h5>Email</h5>
                    <p>@Model.Email</p>
                    <h5>Website</h5>
                    <p><a href="http://@Model.Website" target="_blank">@Model.Website</a></p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9  ab-text">
                <h3>@Model.DojoName</h3>
                <p>
                 @Html.Raw(Model.Description)
                </p>
               
            </div>
            <div class="clearfix"> </div>
            <div>
                <a href="~/Dojo/DojoEdit/@Model.DojoID">Edit</a>
            </div> 
        </div>
    </div>
</div>

<!-- //about -->

