﻿@model IEnumerable<SeibukanIndia.Models.Dojo>
@{
    ViewBag.Title = "Dojos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">*@
<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>Seibukan Dojos</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<!-- team -->
<div class="agile-about-top">
    <div class="container">
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <div class="text-align-right">@Html.ActionLink("Register","Register", "Dojo") |@Html.ActionLink("Login", "Login", "Dojo")</div>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Main", null)</li>
                <li class="active">Dojos</li>
            </ol>
        </div>
        <div class="col-md-3">
            <!--start District Menu -->
            <div class="col-md-12  bg-fff padding-bottom-two margin-top-20 ">@*hidden-sm hidden-xs*@
                <!--start wrapper row-->
                <div class="wrapper-row list-items bg-fff">
                    <ul>
                        <li><a href="~/Main/Dojos/">ALL SIBUKAN DOJOS ACCROSS INDIA</a></li>
                        <li><button class="toggle-button button-1">Kerala</button></li>
                        <ul class="toggle-1">
                            <li><a href="~/Main/Dojos/1">Trivandrum District</a></li>
                            <li><a href="~/Main/Dojos/2">Kollam Disrtict</a></li>
                            <li><a href="~/Main/Dojos/3">Pathanamthitta District </a></li>
                            <li><a href="~/Main/Dojos/4">Alappuzha Disrtict</a></li>
                            <li><a href="~/Main/Dojos/5">Kottayam District</a></li>
                            <li><a href="~/Main/Dojos/7">Ernakulam District</a></li>
                            <li><a href="~/Main/Dojos/8">Trichur District</a></li>
                            <li><a href="~/Main/Dojos/9">Palghat District</a></li>
                            <li><a href="~/Main/Dojos/11">Mallapuram District</a></li>
                            <li><a href="~/Main/Dojos/13">Kannur District</a></li>
                            <li><a href="~/Main/Dojos/12">Wyanad District</a></li>
                            <li><a href="~/Main/Dojos/14">Kasaragod District</a></li>
                        </ul>



                        <li><button class="toggle-button button-2">Tamilnadu</button></li>
                        <ul class="toggle-2">
                            <li><a href="~/Main/Dojos/15">Chennai</a></li>
                        </ul>
                        <li><button class="toggle-button button-3">Karnataka</button></li>
                        <ul class="toggle-3">
                            <li><a href="~/Main/Dojos/17">Udupi District</a></li>
                            <li><a href="~/Main/Dojos/16">Bangalore District</a></li>
                        </ul>


                        <li><button class="toggle-button button-4">Andra Pradesh</button></li>
                        <ul class="toggle-4">
                            <li><a href="~/Main/Dojos/18">Gandhinagar</a></li>
                        </ul>

                        <li><button class="toggle-button button-4">Gujarat State</button></li>
                        <ul class="toggle-4">
                            <li><a href="~/Main/Dojos/19">Hyderbad</a></li>
                        </ul>

                        <li><button class="toggle-button button-5">Assam </button></li>
                        <ul class="toggle-5">
                            <li><a href="~/Main/Dojos/20"><strong>Gawahati District</strong> </a></li>
                            <li><a href="~/Main/Dojos/21"><strong>Silchar District</strong> </a></li>
                        </ul>


                        <li><button class="toggle-button button-6">Tripura</button></li>
                        <ul class="toggle-6">
                            <li><a href="~/Main/Dojos/22">Agartala </a></li>
                        </ul>

                        <li><button class="toggle-button button-7">Mizoram</button></li>
                        <ul class="toggle-7">
                            <li><a href="~/Main/Dojos/23">Aizawl</a></li>
                        </ul>



                        <li><button class="toggle-button button-8">Meghalaya</button></li>
                        <ul class="toggle-8">
                            <li><a href="~/Main/Dojos/24">Shillong</a></li>
                        </ul>




                        <li><button class="toggle-button button-9">Rajasthan</button></li>
                        <ul class="toggle-9">
                            <li><a href="~/Main/Dojos/25">Jaipur</a></li>
                        </ul>



                        <li><button class="toggle-button button-10">New Delhi</button></li>
                        <ul class="toggle-10">
                            <li><a href="~/Main/Dojos/26">New Delhi</a></li>

                        </ul>
                    </ul>
                </div>
                <!--end wrapper row-->
             </div>
            <!-- end Distric Menu -->
        </div>
        <div class="col-md-9 col-sm-9">
            @using (Html.BeginForm("Dojos", "Main", FormMethod.Get))
            {
                <div class="form-group">
                    @Html.TextBox("SearchString", "", new { id = "txtSearch", data_val = "true", data_val_required = "Name is required", @class = "btn-group text-filed-two", @placeholder = "Search" })
                    <input type="submit" value="Search" id="find" class="button-search" />  <br />
                    @Html.ValidationMessage("SearchString")
                </div>
            }
            <br />
            <h3>@ViewBag.Info</h3>
            <h5>Select State and District from the left menu</h5>
            <br />
            @foreach (var item in Model)
            {

                <div class="team-info col-md-3 col-xs-6 screen_size margin_30 height_fix">
                    <div class="col-md-12">
                        <div class="row">
                            <a class="item_color" href="@Url.Action("DojosDetails", "Main", new { id = @item.DojoID })">
                                <img src="~/Dojos/logo/@item.Logo" alt="" class="responsive_image" />
                            </a>
                            @*<div class="team-caption">
                                <h4><a href="@Url.Action("DojosDetails", "Main", new { id = @item.DojoID })">@item.DojoName</a></h4>
                                <p>@item.Place</p>
                            </div>*@
                        </div>
                        

                        <div class="row" style="background:#ffd800;">
                            <div class="col-md-12"><h5><a class="item_color" href="@Url.Action("DojosDetails", "Main", new { id = @item.DojoID })">@item.DojoName<br />@item.Place</a></h5></div>
                            
                        </div>
                    </div>

                    
                </div>
            }

        </div>



        <div class="clearfix"> </div>

    </div>
</div>
    <br /><br /><br /><br />
    <!-- //team -->
    <!-- //about -->
