﻿@model IEnumerable<SeibukanIndia.Models.PhotoGallery>
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="~/Content/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- gallery -->
<link href="~/Content/css/lsb.css" rel="stylesheet" type="text/css">
<!-- //gallery -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Arvo:400,400i,700,700i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<!-- //font -->
<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="~/js/bootstrap.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>Gallery</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- gallery -->
<div class="gallery">
    <div class="container">
        <div class="inner_w3l_agile_grids">
            @foreach (var items in Model)
            {
                <div class="col-md-4 w3_tabs_grid  w3_tabs_grid_sub">
                    <div class="grid">
                        <a href="~/Content/PhotoGallery/@items.Photo" class="lsb-preview" data-lsb-group="header">
                            <figure class="effect-winston">
                                <img src="~/Content/PhotoGallery/@items.Photo" class="img-responsive" alt=" " />
                                <figcaption>
                                    <p>
                                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //gallery -->
<!-- footer -->
<!-- //footer -->
<script src="~/js/SmoothScroll.min.js"></script>

<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- gallery -->
<script src="~/js/lsb.min.js"></script>
<script>
    $(window).load(function () {
        $.fn.lightspeedBox();
    });
</script>
<!-- //gallery -->
