﻿
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>History</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="agile-about-top">
    <div class="container">
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Main", null)</li>
                <li class="active">History</li>
            </ol>
        </div>
        <div class="about-section">
            <div class="col-md-4 ab-left">
                <div class="grid">
                    <img src="~/Content/images/seibukan_logo.png" alt="Seibukan Emblem" class="img-responsive"> <br />
                    <img src="~/Content/images/zenryo.jpg" alt="Hanshi Zenryo Shimabukuro" class="img-responsive">
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-8 ab-text">
                <h3>History of Seibukan</h3>
                <p>
                    Seibukan Karate do was founded by Zenryo Shimabukuro (1906 ~ 1969). Sensei Zenryo, 10th Dan Hanshi, was the foremost student of Sensei Kyan Chotoku. After 10 years of training under Sensei Kyan, Sensei Zenryo built his own dojo in Jagaru, Okinawa in 1962. He named his dojo as "Seibukan" meaning "the holy art school". In 1964, Sensei Zenryo received his 10th Dan black belt from All Okinawan Karate do Federation. After his untimely death in 1969, his son Hanshi Zenpo Shimabukuro succeeded him as the head of Seibukan karate do.
                </p>
                
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- //about -->


