﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- banner -->
<div class="banner jarallax">
    <div class="banner-info">
        <div class="container">
            <div class="w3-banner-info">
                <div class="slider">
                    <div class="callbacks_container">
                        <ul class="rslides callbacks callbacks1" id="slider4">
                            <li>
                                <div class="w3layouts-banner-info">
                                    <h3>International Owinawan <br />Shorin-Ryu Seibukan Karate-do of India</h3>
                                    <p>Registered Office</p>
                                    <div class="w3ls-button">
                                        <a href="~/Main/AboutUs">Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="w3layouts-banner-info">
                                    <h3>One of the most authentic style from<br /> the birth place of Karate-do</h3>
                                    <p>Join with us</p>
                                    <div class="w3ls-button">
                                        <a href="~/Main/AboutUs">Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="w3layouts-banner-info">
                                    <h3>Headoffice of IOSSKA is at Okinawa and<br /> has spread over 18 countries  </h3>
                                    <p>Be a member of Seibukan</p>
                                    <div class="w3ls-button">
                                        <a href="~/Main/AboutUs">Read More</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                    <script>
										// You can also use "$(window).load(function() {"
										$(function () {
										  // Slideshow 4
										  $("#slider4").responsiveSlides({
											auto: true,
											pager:true,
											nav:false,
											speed: 400,
											namespace: "callbacks",
											before: function () {
											  $('.events').append("<li>before event fired.</li>");
											},
											after: function () {
											  $('.events').append("<li>after event fired.</li>");
											}
										  });

										});
                    </script>
                    <!--banner Slider starts Here-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div class="agile-title">
            <h2>Welcome</h2>
        </div>
        <div class="w3ls-row">
            <div class="col-md-6 welcome-left">
                <h3>Seibukan India</h3>
                <p>Seibukan dojo in India was initially started in 1975 by Sensei P. Kuppusamy from Malaysia. He was a direct student of Hanshi Jamal Measara. Sensei P. Kuppusamy was considered one of the best karate instructors of his time. He came to India for the sole purpose of introducing and imparting the noble art of Seibukan Ryu. Under his able supervision and dedicated teaching, Seibukan soon became one of the most prominent styles in India - well reputed for its discipline and high technical standards. Sensei P.R. Ratnapala is the Chief Instructor and Technical Director of Seibukan Karate do in India.</p>
                
                @Html.ActionLink("Read More", "AboutUs", "Main", new {@class= "label label-primary" })

            </div>
            <div class="col-md-6 welcome-right">
                <div class="open-hours-row">
                    <div class="col-md-3 open-hours-left">
                        <h4>WHAT WE TRAIN </h4>
                    </div>
                    <div class="col-md-3 open-hours-left">
                        <h6><a href="~/Main/Karate">KARATE</a></h6>

                        <img src="~/Content/images/seibukan_logo.png" width="90" height="90" />
                    </div>
                    <div class="col-md-3 open-hours-left">
                        <h6><a href="~/Main/Kobudo">KOBUDO</a></h6>

                        <img src="~/Content/images/kobudo_logo.png" width="90" height="90"  />
                    </div>
                    <div class="col-md-3 open-hours-left">
                        <h6><a href="~/Main/Aikido">AIKIDO</a></h6>

                        <img src="~/Content/images/aikido_logo.png" width="90" height="90"  />
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 welcome-left-grids">
                    <div class="welcome-img">
                        <img src="~/Content/images/3.jpg" class="img-responsive zoom-img" alt="" />
                    </div>
                </div>
                <div class="col-md-6 welcome-left-grids">
                    <div class="welcome-img">
                        <img src="~/Content/images/4.jpg" class="img-responsive zoom-img" alt="" />
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //welcome -->
<!-- specials -->
<div class="jarallax specials">
    <div class="specials-dot">
        <div class="container">
            <div class="agile-title specials-heading">
                <h3>Seibukan Pioneers</h3>
            </div>
            <div class="agileits-specials-grids">
                <div class="col-md-3 agileits-specials-grid">
                    <div class="specials-info">
                        <img src="~/Content/images/zenryo.jpg" alt="">
                        <div class="specials-caption">
                            <h4>Seibukan Founder</h4>
                            <p>Hanshi Zenryo Shimabukuro</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits-specials-grid">
                    <div class="specials-info">
                        <img src="~/Content/images/Zemp-Shimabukuro3.jpg" alt="">
                        <div class="specials-caption specials-info1">
                            <h4>Seibukan Current President</h4>
                            <p>Hanshi Zenpo Shimabukuro</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits-specials-grid">
                    <div class="specials-info">
                        <img src="~/Content/images/Jamal-Measara2.jpg" alt="">
                        <div class="specials-caption">
                            <h4>Chief Instructor-Europe</h4>
                            <p>Hanshi Jamal Measara</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits-specials-grid">
                    <div class="specials-info">
                        <img src="~/Content/images/Rantapala1.jpg" alt="">
                        <div class="specials-caption specials-info1">
                            <h4> Chief Instructor -India</h4>
                            <p>Kyoshi P.R. Ratnapala</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //specials -->
<!-- services -->
<div class="services">
    <div class="container">
        <div class="agile-title">
            <h3>Our Resourses</h3>
        </div>
        <div class="w3-services-grids">
            <div class="col-md-3 w3l-services-grid">
                <div class="w3ls-services-img">
                    <i class="fa fa-bank" aria-hidden="true"></i>
                </div>
                <div class="agileits-services-info">
                    <h4><a href="~/Main/Dojos">Our Dojos</a></h4>
                    <p>Seibukan India has affiliated training centers in eight states accross India. You can find the details in the Dojo Directory </p>
                </div>
            </div>
            <div class="col-md-3 w3l-services-grid">
                <div class="w3ls-services-img">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="agileits-services-info">
                    <h4><a href="~/Main/Instructors">Our Instructors</a></h4>
                    <p>Seibukan India has got a well defined hirachial structure of Instructors that has been deployed in all district and states in a well organized manner. </p>
                </div>
            </div>
            <div class="col-md-3 w3l-services-grid">
                <div class="w3ls-services-img">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="agileits-services-info">
                    <h4><a href="~/Main/NewsEvents">News & Events</a></h4>
                    <p>Seibukan India is an eventful organization,  pursuing seamless activities to promote Karate accross India</p>
                </div>
            </div>
            <div class="col-md-3 w3l-services-grid">
                <div class="w3ls-services-img">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </div>
                <div class="agileits-services-info">
                    <h4><a href="~/Dojo/Register">Seibukan Affiliation</a></h4>
                    <p>Those who are following Seibukan Style of Karate can affiliate with us and get accreditation from the Seibukan India</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- history -->
<div class="jarallax history">
    <div class="container">
        <div class="agileinfo-history-grids">
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="wthree-history-info">
                                <h4>Karate is like boiling water, if you do not heat it constantly, it will cool</h4>
                               
                                <a href="~/Main/AboutUs">Read More</a>
                            </div>
                        </li>
                        <li>
                            <div class="wthree-history-info">
                                <h4>The ultimate aim of karate lies not in victory nor defeat, but in the perfection of the character of its participants </h4>
                                
                                <a href="~/Main/AboutUs">Read More</a>
                            </div>
                        </li>
                        <li>
                            <div class="wthree-history-info">
                                <h4>A punch should stay like a treasure in the sleeve. It should not be used indiscrimately. </h4>

                                <a href="~/Main/AboutUs">Read More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:false,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });

								});
            </script>
            <!--banner Slider starts Here-->
        </div>
    </div>
</div>
<!-- //history -->
<!-- testimonials -->
@*<div class="testimonials">
    <div class="container">
        <div class="agile-title">
            <h3>Testimonials</h3>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <iframe width="100%" height="315" src="http://www.youtube.com/embed/N8QTgGeysTg?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
         <div class="col-md-3"></div>
        <div class="agileits-testimonials-grids">
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider5">
                        <li>
                            <div class="w3_testimonials_grid">
                                <img src="~/Content/images/14.jpg" alt="" class="img-responsive" />
                                <h4>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                    impedit quo minus id quod maxime placeat facere possimus, omnis voluptas.
                                </h4>
                                <h5>John Frank</h5>
                                <p>Founder</p>
                            </div>
                        </li>
                        <li>
                            <div class="w3_testimonials_grid">
                                <img src="~/Content/images/15.jpg" alt=" " class="img-responsive" />
                                <h4>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                    impedit quo minus id quod maxime placeat facere possimus, omnis voluptas.
                                </h4>
                                <h5>John Frank</h5>
                                <p>Founder</p>
                            </div>
                        </li>
                        <li>
                            <div class="w3_testimonials_grid">
                                <img src="~/Content/images/16.jpg" alt=" " class="img-responsive" />
                                <h4>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                    impedit quo minus id quod maxime placeat facere possimus, omnis voluptas.
                                </h4>
                                <h5>John Frank</h5>
                                <p>Founder</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <script>
										// You can also use "$(window).load(function() {"
										$(function () {
										  // Slideshow 4
										  $("#slider5").responsiveSlides({
											auto: true,
											pager:true,
											nav:false,
											speed: 400,
											namespace: "callbacks",
											before: function () {
											  $('.events').append("<li>before event fired.</li>");
											},
											after: function () {
											  $('.events').append("<li>after event fired.</li>");
											}
										  });

										});
            </script>
        </div>
    </div>
</div>*@
<!-- //testimonials -->

<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="agile-title">
            <h3>Newsletter</h3>
        </div>
        <div class="newsletter-info">
            <form action="#" method="post">
                <input type="text" placeholder="Name" name="Name" required="">
                <input type="email" placeholder="Email" name="Email" required="">
                <input type="submit" value="Submit">
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>
<!-- //newsletter -->
