﻿@model IEnumerable<SeibukanIndia.Models.Instructor>

@{
    ViewBag.Title = "InstructorProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
	<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>Profile</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="agile-about-top">
 
    <div class="container">
        <div class="text-align-right">@Html.ActionLink("Login", "Login", "Instructor")</div>
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Main", null)</li>
                <li>@Html.ActionLink("Instructors", "Instructors", "Main", null)</li>
                <li class="active">Profile</li>
            </ol>
            
        </div>
        @foreach (var item in Model)
        {
            <div class="about-section">
                <div class="col-md-3 col-md-offset-1  ab-left">
                    <div class="agile-title" >
                        <img src="~/Instructors/Photo/@item.Photo" alt="img25" class="img-responsive">
                            <h5 >@Html.DisplayFor(modelItem => item.Phone)</h5>
                            <h5>@Html.DisplayFor(modelItem => item.Email)</h5>
                            <h5>@Html.DisplayFor(modelItem => item.Address)</h5>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                
                <div class="col-md-7 ab-text">
                    <h4>@Html.DisplayFor(modelItem => item.District.DistrictName) District</h4>
                    <h3>@Html.DisplayFor(modelItem => item.Title)  @Html.DisplayFor(modelItem => item.FullName)</h3>
                    <h5>@Html.DisplayFor(modelItem => item.Grade)  @Html.DisplayFor(modelItem => item.Designation)</h5>
                    <p>
                        @Html.Raw(item.Profile)
                    </p>

                </div>
                <div class="clearfix"> </div>
                @*<div>
                    <a href="~/Instructor/ProfileEdit/@item.InstructorID">Edit</a>
                </div>*@ 
            </div>
           
        }    
    </div>
</div>

<!-- //about -->


