﻿@model IEnumerable<SeibukanIndia.Models.Instructor>
@{
    ViewBag.Title = "Instructors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">*@
	<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>Our Instructors</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->

<!-- team -->
<div class="agile-about-top">
    <div class="container">
        <div class="text-align-right">@Html.ActionLink("Registration", "Registration", "Instructor") | @Html.ActionLink("Login", "Login", "Instructor")</div>
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Main", null)</li>
                <li class="active">Instructors</li>
            </ol>
        </div>
        <div class="col-md-3">
            <!--start District Menu -->
            <div class="col-md-12  bg-fff padding-bottom-two margin-top-20 overflow_hidden "> @*hidden-sm hidden-xs*@
                <!--start wrapper row-->
                <div class="wrapper-row list-items bg-fff">
                    <ul>
                        <li><a href="~/Main/Instructors/">STATE / DISTRICT INCHAGRES</a></li>
                        <li><button class="toggle-button button-1">Kerala</button></li>
                        <ul class="toggle-1">
                            <li><a href="~/Main/Instructors/1">TrivandrumDistrict</a></li>
                            <li><a href="~/Main/Instructors/2">Kollam Disrtict</a></li>
                            <li><a href="~/Main/Instructors/3">Pathanamthitta District </a></li>
                            <li><a href="~/Main/Instructors/5">Kottayam District</a></li>
                            <li><a href="~/Main/Instructors/7">Ernakulam District</a></li>
                            <li><a href="~/Main/Instructors/8">Trichur District</a></li>                          
                            <li><a href="~/Main/Instructors/9">Palghat District</a></li>                         
                            <li><a href="~/Main/Instructors/11">Mallapuram District</a></li>                        
                            <li><a href="~/Main/Instructors/12">Wyanad District</a></li>
                            <li><a href="~/Main/Instructors/13">Kannur District</a></li>
                            <li><a href="~/Main/Instructors/14">Kasaragod District</a></li>
                        </ul>



                        <li><button class="toggle-button button-2">Tamilnadu</button></li>
                        <ul class="toggle-2">
                            <li><a href="~/Main/Instructors/15">Chennai</a></li>
                        </ul>
                        <li><button class="toggle-button button-3">Karnataka</button></li>
                        <ul class="toggle-3">
                            <li><a href="~/Main/Instructors/17">Udupi District</a></li>
                            <li><a href="~/Main/Instructors/16">Bangalore District</a></li>
                        </ul>


                        <li><button class="toggle-button button-4">Andra Pradesh</button></li>
                        <ul class="toggle-4">
                            <li><a href="~/Main/Instructors/18">Gandhinagar</a></li>
                        </ul>

                        <li><button class="toggle-button button-4">Gujarat State</button></li>
                        <ul class="toggle-4">
                            <li><a href="~/Main/Instructors/19">Hyderbad</a></li>
                        </ul>

                        <li><button class="toggle-button button-5">Assam </button></li>
                        <ul class="toggle-5">
                            <li><a href="~/Main/Instructors/20"><strong>Gawahati District</strong> </a></li>
                            <li><a href="~/Main/Instructors/21"><strong>Silchar District</strong> </a></li>
                        </ul>


                        <li><button class="toggle-button button-6">Tripura</button></li>
                        <ul class="toggle-6">
                            <li><a href="~/Main/Instructors/22">Agartala </a></li>
                        </ul>

                        <li><button class="toggle-button button-7">Mizoram</button></li>
                        <ul class="toggle-7">
                            <li><a href="~/Main/Instructors/23">Aizawl</a></li>
                        </ul>



                        <li><button class="toggle-button button-8">Meghalaya</button></li>
                        <ul class="toggle-8">
                            <li><a href="~/Main/Instructors/24">Shillong</a></li>
                        </ul>




                        <li><button class="toggle-button button-9">Rajasthan</button></li>
                        <ul class="toggle-9">
                            <li><a href="~/Main/Instructors/25">Jaipur</a></li>
                        </ul>



                        <li><button class="toggle-button button-10">New Delhi</button></li>
                        <ul class="toggle-10">
                            <li><a href="~/Main/Instructors/26">New Delhi</a></li>

                        </ul>
                    </ul>
                </div>
                <!--end wrapper row-->



            </div>
            <!-- end Distric Menu -->
        </div>
        <div class="col-md-9">
        @using (Html.BeginForm("Instructors", "Main", FormMethod.Get))
        {
            <div class="form-group">
                @Html.TextBox("SearchString", "", new { id = "txtSearch", data_val = "true", data_val_required = "Name is required", @class = "btn-group text-filed-two", @placeholder = "Search" })
                <input type="submit" value="Search" id="find" class="button-search" />  
                @Html.ValidationMessage("SearchString")
            </div>
        }
        <div class="clearfix"></div>
            <h4> @ViewBag.Info</h4>
            <!-- National Chief -->
        @{
            if (ViewBag.NationalChief != null)
            {
                <div class="alert-info alert col-lg-12 overflow_hidden">
                    <h4>@ViewBag.National</h4>
                </div>

                foreach (var item in ViewBag.NationalChief)
                {
                    <div class="col-md-3 col-sm-6 height_set">
                        <div class="cover_pannel col-md-12">
                            <a href="@Url.Action("InstructorProfile", "Main", new {id=@item.InstructorID })">
                                <div class="list_item">
                                    <ul>
                                        <h3>
                                            @item.Title   @item.FullName
                                        </h3>
                                        <h5>@item.Grade</h5>
                                        <h5>@item.Designation</h5>
                                        <h5>@item.State.StateName</h5>
                                        <h5>@item.Phone</h5>

                                    </ul>

                                </div>
                            </a>
                        </div>
                        <img src="~/Instructors/Photo/@item.Photo" class="image_responsive">
                    </div>

                }

            }
            <div class="col-md-12 margin-top-20"></div>
        } 
            <!-- State Chief-->
        @{
            if (ViewBag.StateChief != null)
            {
                <div class="alert-info alert col-lg-12">
                    <h4>@ViewBag.State</h4>
                </div>
                
                foreach (var item in ViewBag.StateChief)
                {
                    <div class="col-md-3 col-sm-6 height_set">
                        <div class="cover_pannel col-md-12">
                            <a href="@Url.Action("InstructorProfile", "Main", new {id=@item.InstructorID })">
                                <div class="list_item">
                                    <ul>
                                        <h3>
                                          @item.Title   @item.FullName
                                        </h3>
                                        <h5>@item.Grade</h5>
                                        <h5>@item.Designation</h5>
                                        <h5>@item.State.StateName</h5>
                                        <h5>@item.Phone</h5>

                                    </ul>

                                </div>
                            </a>
                        </div>
                        <img src="~/Instructors/Photo/@item.Photo" class="image_responsive">
                    </div>

                }
               
            }
            <div class="col-md-12 margin-top-20"></div>
        } 
            <div class="clearfix"></div>
            <div class="alert-info alert col-lg-12">
                <h4>@ViewBag.District</h4>
            </div>
         
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6 height_set">
                    <div class="cover_pannel col-md-12">
                        <a href="@Url.Action("InstructorProfile", "Main", new {id=@item.InstructorID })">
                            <div class="list_item">
                                <ul>
                                    <h3>
                                    @item.Title  @item.FullName
                                    </h3>
                                    <h5>@item.Grade</h5>
                                    <h5>@item.Designation</h5>
                                    <h5>@item.District.DistrictName</h5>
                                    <h5>@item.Phone</h5>

                                </ul>

                            </div>
                        </a>
                    </div>
                    <img src="~/Instructors/Photo/@item.Photo" class="image_responsive">
                </div>
            }
        </div>

        <div class="clearfix"> </div>

    </div>
</div>
    <br /><br /><br /><br />
    <!-- //team -->
    <!-- //about -->

