﻿
@{
    ViewBag.Title = "Kobudo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
	<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>Kobudo</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- KODUDO -->
<div class="agile-about-top">
    <div class="container">
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Main", null)</li>
                <li class="active">Kobudo</li>
            </ol>
        </div>
        <div class="about-section">
            <div class="col-md-4 ab-left">
                <div class="grid">
                    <img src="~/Content/images/kobudo_logo.png" alt="img25" class="img-responsive">
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-8 ab-text">
                <h3>Kobudo</h3>
                <p>

                </p>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- //KOBUDO -->


