﻿@model IEnumerable<SeibukanIndia.Models.NewsEvent>
@{
    ViewBag.Title = "NewsEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>News &amp; Events</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- events -->
<div class="agile-about-top">
    <div class="container">
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Main", null, null
                   )
            </li>
            <li>@Html.ActionLink("News Events", "NewsEvents", "Main", new { id = "" }, null)</li>
                <li>News Events Details</li>
        </ol>
    </div>
    <div>@Html.ActionLink("Show all events", "NewsEvents", "Main", new { id = "" }, null)</div>

    <div class="w3l-event-grids">
        <div class="col-md-3"></div>
        @foreach (var items in Model)
            {
            
            <div class="col-md-6 w3l-event-grid centered ">
                <div class="col-md-8 w3l-event-img">
                    <a href="#">
                        <img src="~/Content/NewsEvents/@items.Photo" />
                    </a>
                </div>
                <div class="clearfix"></div>    
                <div class="news-grid-info">
                    <a href="#">@items.EventTitle</a>
                    <h5>@items.EventDate</h5>
                    <p>
                        @items.EventDetails
                    </p>
                </div>
            </div>
        }
        <div class="col-md-3"></div>
        <div class="clearfix"> </div>
    </div>
</div>
</div>
<!-- //events -->
<!-- //about -->
