﻿@model IEnumerable<SeibukanIndia.Models.NewsEvent>
@{
    ViewBag.Title = "NewsEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->
<div class="banner jarallax">
    <div class="wthree-info">
        <div class="container">
            <div class="wthree-info-text">
                <h2>News &amp; Events</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- events -->
<div class="agile-about-top">
    <div class="container">
        <div class="wow fadeInUp animated" data-wow-delay=".5s">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Main", null,  null
                   )</li>
                <li>@Html.ActionLink("News Events", "NewsEvents", "Main", new { id = "" }, null)</li>

            </ol>
        </div>

        <div class="w3l-event-grids">
            @foreach (var items in Model)
            {
                <div class="col-md-3 w3l-event-grid ">
                    <div class="w3l-event-img">
                        <a href="@Url.Action("NewsEventsDetails","Main", new { id=@items.NewsEventsID})">
                            <img src="~/Content/NewsEvents/@items.Photo" />
                        </a>
                    </div>
                    <div class="news-grid-info">
                        <a href="@Url.Action("NewsEventsDetails","Main", new { id=@items.NewsEventsID})">@items.EventTitle</a>
                        <h5>@items.EventDate</h5>
                        <p>
                            @items.EventDetails
                        </p>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //events -->
<!-- //about -->
