﻿
@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="agile-about-top">
    <div class="container">
        <div class="form-horizontal text-center">
            <br /><br /><br />
            <h2>You are not authorized to view this page !</h2>
            <h3>Please Login or contact Administrator</h3>
          
            <br /><br />
            <div class="form-horizontal">
                @*<div class="col-md-2 col-sm-2"></div>*@
                <div class="col-md-12 col-sm-12 sm-text-center text-center">
                    <p>Please select appropriate login page</p><br /><br /><br />
                    <div class="col-md-4 col-sm-4 sm-text-center text-center">
                        <a href="~/Instructor/Login">
                            <img src="~/Content/images/instructor_icon.png" width="150" />
                            <p> Instructor Login</p>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 sm-text-center text-center">
                        <a href="~/Dojo/Login">
                            <img src="~/Content/images/dojo_icon.png" width="150" />
                            <p> Dojo Login</p>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="~/Admin/Login">
                            <img src="~/Content/images/admin_con.png" width="150" />
                            <p> Admin Login</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div>
