﻿@model IEnumerable<SeibukanIndia.Models.Instructor>
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="agile-about-top">
    <div class="container">
        <h2>Test</h2>
        @ViewBag.Error
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#StateID").change(function () {
                    $("#district").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("getDistrict")',
                        dataType: 'json',
                        data: { id: $("#StateID").val() },
                        success: function (districts) {
                            $.each(districts, function (i, district) {
                                $("#DistrictID").append('<option value="' + district.Value + '">' +
                                     district.Text + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
                    return false;
                })
            });
        </script>
        <div>
            <div>
                <b>Select State</b>
            </div>
            <div>
                @Html.DropDownList("StateID", ViewBag.country as List<SelectListItem>, new { style = "width: 200px;" })
            </div>
            <br />
            <div>
                <b>Select District</b>
            </div>
            <div>
                @Html.DropDownList("DistrictID", new SelectList(string.Empty, "Value", "Text"), "--Select District--", new { style = "width:200px" })
            </div>
        </div>
    </div>
    </div>