﻿@model SeibukanIndia.Models.Instructor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<h2>Instructors</h2>
<!-- Cascading dropdownlist for State and District-->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
            $(document).ready(function () {
                $("#StateID").change(function () {
                    $("#district").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("getDistrict")',
                        dataType: 'json',
                        data: { id: $("#StateID").val() },
                        success: function (districts) {
                            $.each(districts, function (i, district) {
                                $("#DistrictID").append('<option value="' + district.Value + '">' +
                                     district.Text + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
                    return false;
                })
            });
</script>

@using (Html.BeginForm("Create", "Instructor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*<h3>@Html.ValidationMessageFor(m => m.Photo)</h3>*@
    <div class="form-horizontal">
        <h4>Add New Instructor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StateID, "StateID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("StateID", ViewBag.country as List<SelectListItem>, "--Select State--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistrictID, "DistrictID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("DistrictID", new SelectList(string.Empty, "Value", "Text"), "--Select District--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DistrictID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("gender", new List<SelectListItem>
                {
                   new SelectListItem{ Text="Male", Value = "Male" },
                   new SelectListItem{ Text="Female", Value = "Female" }
                }, "-- Select Gender --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Name" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-5">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password Confirmation" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @*@Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("grade", new List<SelectListItem>
                {
                   new SelectListItem{ Text="1st Dan", Value = "1st Dan" },
                   new SelectListItem{ Text="2nd Dan", Value = "2nd Dan" },
                   new SelectListItem{ Text="3rd Dan", Value = "3rd Dan" },
                   new SelectListItem{ Text="4th Dan", Value = "4th Dan" },
                   new SelectListItem{ Text="5th Dan", Value = "5th Dan" },
                   new SelectListItem{ Text="6th Dan", Value = "6th Dan" },
                   new SelectListItem{ Text="7th Dan", Value = "7th Dan" },
                   new SelectListItem{ Text="8th Dan", Value = "8th Dan" },
                   new SelectListItem{ Text="9th Dan", Value = "9th Dan" }
                }, "-- Select Dan --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("title", new List<SelectListItem>
                {
                   new SelectListItem{ Text="Sensei", Value = "Sensei" },
                   new SelectListItem{ Text="Renshi", Value = "Renshi" },
                   new SelectListItem{ Text="Kyoshi", Value = "Kyoshi" },
                   new SelectListItem{ Text="Hanshi", Value = "Hanshi" }
                }, "-- Select Title --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Designation" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextAreaFor(model => model.Profile, new { @id = "editorProfile", htmlAttributes = new { @class = "form-control" } })
                <script>
                    CKEDITOR.replace('editorProfile');
                </script>
                @Html.ValidationMessageFor(model => model.Profile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.JoinDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.JoinDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JoinDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Renewed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Renewed)
                    @Html.ValidationMessageFor(model => model.Renewed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDCard, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IDCard, new { htmlAttributes = new { @class = "form-control", @placeholder = "ID Card No" } })
                    @Html.ValidationMessageFor(model => model.IDCard, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsEmailVerified, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsEmailVerified)
                    @Html.ValidationMessageFor(model => model.IsEmailVerified, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <input type="file" id="flPhoto" name="upload" />
                <table>
                    <tr>
                        <td>
                            <strong>Original Image</strong>
                            Width: <label id="lblWidth">200px</label>
                            Height: <label id="lblHeight">200px</label>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <div style="overflow:auto;">
                                <img id="imgEmpPhoto" src="~/Instructors/Photo/instructor_icon.jpg" alt="Employee Image"  />
                            </div>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>
                         <p>Drag mouse over the original picture and select an area to be cropped.</p>
                            <input type="button" value="Crop Image" id="hlcropImage" class="btn-primary" />
                            <br /><br />
                           
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <canvas id="canvas" height="5" width="5" style="vertical-align:top;"></canvas>
                            <p><strong>Cropped Image for profile picture.</strong></p>
                        </td>
                    </tr>
                </table>
                    <img id="imgCropped" src="#" style="display:none;" />
                <input type="hidden" name="avatarCropped" id="avatarCropped" />
             </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    @*@Scripts.Render("~/bundles/jqueryval")*@
<script src="~/Scripts/jquery.Jcrop.min.js"></script>

@*<script src="~/Scripts/jquery.Jcrop.js"></script>*@

    <script type="text/javascript">
        var imageCropWidth = 150;
        var imageCropHeight = 200;
        var cropPointX = 0;
        var cropPointY = 0;
        var jcropApi;

        $(document).ready(function () {

            //initCrop();

        });

        $("#hlcropImage").on("click", function (e) {

            /*

            The event.preventDefault() method stops the default action of

            an element from happening. For example: Prevent a submit button

            from submitting a form. Prevent a link from following the URL

            */
            e.preventDefault();
            cropImage();

        });

        function initCrop() {

            $('#imgEmpPhoto').Jcrop({

                onChange: setCoordsAndImgSize,

                aspectRatio: 0, // 1 means will be same for height and weight

                onSelect: setCoordsAndImgSize

            }, function () { jcropApi = this });

        }

        function showCoordinate() {

            $("#lblWidth").text(imageCropWidth + "px");

            $("#lblHeight").text(imageCropHeight + "px");

        }

        function setCoordsAndImgSize(e) {

            imageCropWidth = e.w;

            imageCropHeight = e.h;

            cropPointX = e.x;

            cropPointY = e.y;

            $("#lblWidth").text(imageCropWidth + "px");

            $("#lblHeight").text(imageCropHeight + "px");

        }

        function cropImage() {

            if (imageCropWidth == 0 && imageCropHeight == 0) {

                alert("Please select crop area.");

                return;

            }

            var img = $("#imgEmpPhoto").attr("src");

            /*Show cropped image*/

            showCroppedImage();

        }

        function showCroppedImage() {

            var x1 = cropPointX;

            var y1 = cropPointY;

            var width = imageCropWidth;

            var height = imageCropHeight;

            var canvas = $("#canvas")[0];

            var context = canvas.getContext('2d');

            var img = new Image();

            img.onload = function () {

                canvas.height = height;

                canvas.width = width;

                context.drawImage(img, x1, y1, width, height, 0, 0, width, height);

                $('#avatarCropped').val(canvas.toDataURL());

            };

            img.src = $('#imgEmpPhoto').attr("src");

        }

        function readFile(input) {

            if (input.files && input.files[0]) {

                var reader = new FileReader();

                /*Destroy jcrop initialization other wise it will hold it previous image in img tag*/

                if (jcropApi != null) {

                    jcropApi.destroy();

                }

                reader.onload = function (e) {

                    $('#imgEmpPhoto').attr('src', "");

                    var img = $('#imgEmpPhoto').attr('src', e.target.result);

                    /*Current uploaded image size*/

                    var width = img[0].height;

                    var height = img[0].width;

                    $("#lblWidth").text(width + "px");

                    $("#lblHeight").text(height + "px");

                    //InitCrop must call here otherwise it will not work

                    initCrop();

                }

                reader.readAsDataURL(input.files[0]);

            }

        }

        $('#flPhoto').change(function () {

            readFile(this);

            //initCrop();
        });

    </script>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
