﻿@model SeibukanIndia.Models.Instructor

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<h2>Instructors</h2>


@using (Html.BeginForm("Edit", "Instructor", FormMethod.Post, new { enctype = "multipart/form-data", id = Model.InstructorID }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.InstructorID)
        @*<div class="form-group">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <img src="~/Instructors/Photo/@Model.Photo" width="150" />
                @Html.HiddenFor(model=>model.Photo)
                <input type="file" value="file" name="file" />
                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
               
                <table>
                    <tr>
                        <td>
                            <strong>Original Image</strong>
                            Width: <label id="lblWidth">200px</label>
                            Height: <label id="lblHeight">200px</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div overflow:auto;">
                                <img id="imgEmpPhoto" src="~/Instructors/Photo/@Model.Photo" alt="Employee Image" />
                                @Html.HiddenFor(model => model.Photo)
                                <p>
                                    <input type="file" id="flPhoto" name="upload" />
                                </p>
                            </div>
                        </td>

                    </tr>
                    
                    <tr>
                        <td>
                            <p>Drag mouse over the original picture and select an area to be cropped.</p>
                            <input type="button" value="Crop Image" id="hlcropImage" class="btn-primary" />
                            <br /><br />

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <canvas id="canvas" height="5" width="5" style="vertical-align:top;"></canvas>
                            <p><strong>Cropped Image for profile picture.</strong></p>
                        </td>
                    </tr>
                </table>
                <img id="imgCropped" src="#" style="display:none;" />
                <input type="hidden" name="avatarCropped" id="avatarCropped" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StateID, "StateID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("StateID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistrictID, "DistrictID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("DistrictID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DistrictID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", data_val = false } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextAreaFor(model => model.Profile, new { @id = "editorProfile", htmlAttributes = new { @class = "form-control" } })
                <script>
                    CKEDITOR.replace('editorProfile');
                </script>
                @Html.ValidationMessageFor(model => model.Profile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JoinDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.JoinDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JoinDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Renewed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Renewed)
                    @Html.ValidationMessageFor(model => model.Renewed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDCard, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.IDCard, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IDCard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsEmailVerified, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsEmailVerified)
                    @Html.ValidationMessageFor(model => model.IsEmailVerified, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActiveStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.ActiveStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ActiveStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.ActivationCode)
        @Html.HiddenFor(model => model.RoleID)
        @Html.HiddenFor(model => model.CreatedDate)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    <script src="~/Scripts/jquery.Jcrop.min.js"></script>
    <script src="~/Scripts/jquery.Jcrop.js"></script>

    <script type="text/javascript">
        var imageCropWidth = 150;
        var imageCropHeight = 200;
        var cropPointX = 0;
        var cropPointY = 0;
        var jcropApi;

        $(document).ready(function () {

            //initCrop();

        });

        $("#hlcropImage").on("click", function (e) {

            /*

            The event.preventDefault() method stops the default action of

            an element from happening. For example: Prevent a submit button

            from submitting a form. Prevent a link from following the URL

            */
            e.preventDefault();
            cropImage();

        });

        function initCrop() {

            $('#imgEmpPhoto').Jcrop({

                onChange: setCoordsAndImgSize,

                aspectRatio: 0, // 1 means will be same for height and weight

                onSelect: setCoordsAndImgSize

            }, function () { jcropApi = this });

        }

        function showCoordinate() {

            $("#lblWidth").text(imageCropWidth + "px");

            $("#lblHeight").text(imageCropHeight + "px");

        }

        function setCoordsAndImgSize(e) {

            imageCropWidth = e.w;

            imageCropHeight = e.h;

            cropPointX = e.x;

            cropPointY = e.y;

            $("#lblWidth").text(imageCropWidth + "px");

            $("#lblHeight").text(imageCropHeight + "px");

        }

        function cropImage() {

            if (imageCropWidth == 0 && imageCropHeight == 0) {

                alert("Please select crop area.");

                return;

            }

            var img = $("#imgEmpPhoto").attr("src");

            /*Show cropped image*/

            showCroppedImage();

        }

        function showCroppedImage() {

            var x1 = cropPointX;

            var y1 = cropPointY;

            var width = imageCropWidth;

            var height = imageCropHeight;

            var canvas = $("#canvas")[0];

            var context = canvas.getContext('2d');

            var img = new Image();

            img.onload = function () {

                canvas.height = height;

                canvas.width = width;

                context.drawImage(img, x1, y1, width, height, 0, 0, width, height);

                $('#avatarCropped').val(canvas.toDataURL());

            };

            img.src = $('#imgEmpPhoto').attr("src");

        }

        function readFile(input) {

            if (input.files && input.files[0]) {

                var reader = new FileReader();

                /*Destroy jcrop initialization other wise it will hold it previous image in img tag*/

                if (jcropApi != null) {

                    jcropApi.destroy();

                }

                reader.onload = function (e) {

                    $('#imgEmpPhoto').attr('src', "");

                    var img = $('#imgEmpPhoto').attr('src', e.target.result);

                    /*Current uploaded image size*/

                    var width = img[0].height;

                    var height = img[0].width;

                    $("#lblWidth").text(width + "px");

                    $("#lblHeight").text(height + "px");

                    //InitCrop must call here otherwise it will not work

                    initCrop();

                }

                reader.readAsDataURL(input.files[0]);

            }

        }

        $('#flPhoto').change(function () {

            readFile(this);

            //initCrop();
        });

    </script>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
