﻿@using PagedList.Mvc;
@model PagedList.IPagedList<SeibukanIndia.Models.Instructor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Instructors</h2>

@using (Html.BeginForm("Index", "Instructor", FormMethod.Get))
{
    @*@Html.AntiForgeryToken()*@
  <div class="col-md-3"></div>  
  <div class="col-md-6 centered ">
    Search ::    @Html.TextBox("SearchString", "", new { id = "txtSearch", data_val = "true", data_val_required = "Name is required", @class = "btn-group text-filed-two" })
        <input type="submit" value="Search" id="find" class="button-search" />  <br />
        @Html.ValidationMessage("SearchString")
    </div>
    <div class="col-md-3"></div>
    <div class="clear"></div>
        <div>
            <h3 style="text-align:right">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Instructor", null)'"><em class="fa fa-plus"></em>  New Instructor</button>
            </h3>
            @*@Html.ActionLink("New Instructor", "Create")*@
        </div>
        <table class="table border-1px shadow">
            <tr class="info">
                <th>
                    @Html.Label("State")

                </th>
                <th>
                    @Html.Label("District")

                </th>
                <th>
                    @Html.Label("Photo")
                </th>
                <th>
                    @Html.Label("Name")
                </th>
                <th>
                    @Html.Label("Gender")
                </th>

                <th>
                    @Html.Label("Phone")
                </th>
                <th>
                    @Html.Label("Email")
                </th>

                <th>
                    @Html.Label("Grade")
                </th>
                <th>
                    @Html.Label("Title")
                </th>
                <th>
                    @Html.Label("Designation")
                </th>

                <th></th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Model[i].State.StateName
                    </td>
                    <td>
                        @Model[i].District.DistrictName
                    </td>
                    <td>
                        <img src="~/Instructors/Photo/@Model[i].Photo" width="80" />

                    </td>
                    <td>
                        @Model[i].FullName
                    </td>
                    <td>
                        @Model[i].Gender
                    </td>

                    <td>
                        @Model[i].Phone
                    </td>
                    <td>
                        @Model[i].Email
                    </td>

                    <td>
                        @Model[i].Grade
                    </td>
                    <td>
                        @Model[i].Title
                    </td>
                    <td>
                        @Model[i].Designation
                    </td>



                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-toolbar" onclick="location.href='@Url.Action("Edit", "Instructor", new { id=@Model[i].InstructorID})'">Edit</button>
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Instructor", new { id=@Model[i].InstructorID})'">Read</button>
                            <button type="button" class="btn btn-toolbar" onclick="location.href='@Url.Action("Delete", "Instructor", new { id=@Model[i].InstructorID})'">Delete</button>
                        </div>
                    </td>
                </tr>
            }

        </table>
        }
        <div id="container">
            <div class="col-md-3"></div>
            <div class="pagination col-md-4 text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
            <div class="col-md-4"></div>
        </div>
