﻿@model SeibukanIndia.Models.Dojo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Dojos</h2>

<h3 class="alert-danger">Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal col-md-8">
        <dt>

        </dt>

        <dd>
            <h2> @Html.DisplayFor(model => model.DojoName)</h2>
        </dd>
        <dt>
            
        </dt>

        <dd>
            <img src="~/Dojos/logo/@Model.Logo" width="200" />
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.StateName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(@Model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DojoAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DojoAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmailVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmailVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AffiliationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AffiliationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renewed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renewed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
<div class="clearfix"></div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
