﻿@model IEnumerable<SeibukanIndia.Models.Dojo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Dojos</h2>

<h3 style="text-align:right">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Dojo", null)'"><em class="fa fa-plus"></em>  New Dojo</button>
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DojoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.District.DistrictName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.StateName)
        </td>
        <td>
            <img src="~/Dojos/logo/@item.Logo" width="80" />
        </td>
        <td>
            <h4> @Html.DisplayFor(modelItem => item.DojoName)</h4>
        </td>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DojoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DojoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DojoID })
        </td>
    </tr>
}

</table>
