﻿@model IEnumerable<SeibukanIndia.Models.Instructor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}


    <div class="container">
        <div class="row " >
            <br /><br />
        </div>
        <div class="row margin-top-20 " >
            <div class="col-lg-3 col-md-6">
                <div class="panel ">
                    <div class="panel-heading">
                        <div class="row">
                            <div> <h4>&nbsp;Our Instructors</h4></div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Instructor", new { id = UrlParameter.Optional } )">
                        <div class="panel-footer">
                            <span class="pull-left">Instructor List</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="@Url.Action("Create", "Instructor", new { id = UrlParameter.Optional } )">
                        <div class="panel-footer">
                            <span class="pull-left">Add New Instructor</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel ">
                    <div class="panel-heading">
                        <div class="row">
                            <div> <h4>&nbsp;Our Dojos</h4></div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Dojo", new { id = UrlParameter.Optional } )">
                        <div class="panel-footer">
                            <span class="pull-left">Dojo List</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="@Url.Action("Create", "Dojo", new { id = UrlParameter.Optional } )">
                        <div class="panel-footer">
                            <span class="pull-left">Add New Dojo</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel ">
                    <div class="panel-heading">
                        <div class="row">
                            <div> <h4>&nbsp;Events</h4></div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "NewsEvents", new { id = UrlParameter.Optional } )">
                        <div class="panel-footer">
                            <span class="pull-left">Event List</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="@Url.Action("Create", "NewsEvents", new { id = UrlParameter.Optional } )">
                        <div class="panel-footer">
                            <span class="pull-left">Add New Events</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div> <h4>&nbsp;Photo Gallery</h4></div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "PhotoCategories", new { id = UrlParameter.Optional } )">
                        <div class="panel-footer">
                            <span class="pull-left">Photo Category</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="@Url.Action("Index", "PhotoGalleries", new { id = UrlParameter.Optional } )">
                        <div class="panel-footer">
                            <span class="pull-left">Photo Gallery</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row ">
            <br />
            @*<h3>@ViewBag.Message</h3>*@
            <h3>New Dojo Applications</h3>
            <br />
            @{
                if (ViewBag.Dojos != null)
                {
                    <table class="table border-1px shadow">
                        <tr class="info">
                            <th>
                                District Name
                            </th>
                            <th>
                                State Name
                            </th>
                            <th>
                                Place
                            </th>
                            <th>
                                Dojo Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Application Date
                            </th>

                            <th></th>
                        </tr>
                        @foreach (var item in ViewBag.Dojos)
                        {
                        <tr>
                            <td>
                                @item.District.DistrictName
                            </td>
                            <td>
                                @item.State.StateName
                            </td>
                            <td>
                                @item.Place
                            </td>
                            <td>
                                @item.DojoName
                            </td>
                            <td>
                                @item.Phone
                            </td>
                            <td>
                                @item.CreatedDate
                            </td>


                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-toolbar" onclick="location.href='@Url.Action("Edit", "Dojo", new { id=@item.DojoID})'">Approve</button>
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Dojo", new { id=@item.DojoID})'">Read</button>
                                    <button type="button" class="btn btn-toolbar" onclick="location.href='@Url.Action("Delete", "Dojo", new { id=@item.DojoID})'">Delete</button>
                                </div>
                            </td>
                        </tr>
                        }
                    </table>
                }
            }

        </div>
        <div class="row ">
            <br />
            @*<h3>@ViewBag.Message</h3>*@
            <h3>New Instructor Applications</h3>
            <br />
            
                @{
                    if (ViewBag.Instructors != null)
                    {
                        <table class="table border-1px shadow">
                            <tr class="info">
                                <th>
                                    @Html.Label("State")

                                </th>
                                <th>
                                    @Html.Label("District")

                                </th>
                                <th>
                                    @Html.Label("Photo")
                                </th>
                                <th>
                                    @Html.Label("Name")
                                </th>
                                <th>
                                    @Html.Label("Gender")
                                </th>

                                <th>
                                    @Html.Label("Phone")
                                </th>
                                <th>
                                    @Html.Label("Application Date")
                                </th>
                                <th></th>
                            </tr>
                           
                            @foreach (var items in Model)
                            {
                                <tr>
                                    <td>
                                        @items.State.StateName
                                    </td>
                                    <td>
                                        @items.District.DistrictName
                                    </td>
                                    <td>
                                        <img src="~/Instructors/Photo/@items.Photo" width="80" />

                                    </td>
                                    <td>
                                        @items.FullName
                                    </td>
                                    <td>
                                        @items.Gender
                                    </td>

                                    <td>
                                        @items.Phone
                                    </td>
                                    <td>
                                        @items.CreatedDate
                                    </td>

                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-toolbar" onclick="location.href='@Url.Action("Edit", "Instructor", new { id=@items.InstructorID})'">Approve</button>
                                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Instructor", new { id=@items.InstructorID})'">Read</button>
                                            <button type="button" class="btn btn-toolbar" onclick="location.href='@Url.Action("Delete", "Instructor", new { id=@items.InstructorID})'">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </table>
                    }

                }
                        
<br />
        </div>

    </div>


