﻿@model SeibukanIndia.Models.PhotoGallery

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhotoGallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoCategory.PhotoCategory1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoCategory.PhotoCategory1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src="~/Content/PhotoGallery/@Model.Photo" width="250" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhotoGalleryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
