﻿@model IEnumerable<SeibukanIndia.Models.PhotoGallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Index</h2>

<h3 style="text-align:right">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "PhotoGalleries", null)'"><em class="fa fa-plus"></em> Add New Photo</button>
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhotoCategory.PhotoCategory1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoCategory.PhotoCategory1)
        </td>
        <td>

            <img src="~/Content/PhotoGallery/@item.Photo" width="80" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhotoGalleryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhotoGalleryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhotoGalleryID })
        </td>
    </tr>
}

</table>
