
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
body{
	background:#FFFFFF;
}
/*-- banner --*/
.banner{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
/*-- header-left --*/
.header {
    padding: 1em 0;
}
.header-left{

}
.w3layouts-logo{
	text-align: center;
}
.w3layouts-logo h1 {
    margin: 0;
}
.w3layouts-logo h1 a {
    color: #fff;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: normal;
}
/*-- //header-left --*/
/*-- w3-header-bottom --*/
.w3-header-bottom {
    background: #212121;
    padding: 1em 2em;
}
.agileinfo-phone {
    float: left;
}
.agileinfo-phone p {
    color: #FFFFFF;
    font-size: 1em;
    margin: 0;
    font-weight: 600;
}
/*-- top-nav --*/
.top-nav{
    float: left;
    text-align: center;
    width: 83%;
}
.navbar-default {
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none !important;
}
.top-nav ul{
    padding: 0;
    margin: 0;
    float: none;
}
.top-nav ul li{
    display: inline-block;
    float: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
    outline: none;
    border-right: none;
}
.navbar-nav li.first-list:after {
	background:none;;
}
.navbar-nav li:after {
    content: "";
    position: absolute;
    background: #FFFFFF;
    height: 7px;
    width: 7px;
    top: 7px;
    left: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
}
.top-nav ul li a{
    color: #ffffff !important;
    font-size: 1em;
    margin: 0 2em;
    padding: 0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-right: none;
}
.top-nav ul li a.list-border{
	border-left: none;
}
.top-nav ul li a:hover{
    color: #fec303 !important;
}
.top-nav ul li a.active{
	color: #fec303 !important;
    background: none;
}
ul.dropdown-menu {
    background: #fec303;
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 2.8em;
    left: 0px;
    min-width: 106px;
}
ul.dropdown-menu li{
    width: 100% !important;
    margin: 0 !important;
}
ul.dropdown-menu li:after{
	background:none !important;
}
.dropdown-menu > li > a {
    display: block;
    padding: .5em 1em !important;
    text-align: center;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #FFFFFF;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*-- //top-nav --*/
/*-- social-icons --*/
.agileinfo-social-grids{
    float: right;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
	margin:0 1em;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
	margin:0 1em 0 0;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
/*-- w3-header-bottom --*/
/*-- banner-info --*/
.banner-info{
    padding: 10em 0;
}
.w3layouts-banner-info{
    text-align: center;
}
.w3layouts-banner-info h3{
	color: #FFFFFF;
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    position: relative;
}
/*.w3layouts-banner-info h3:before{
	content: "";
    background: #000;
    width: 100%;
    top: 145px;
    position: absolute;
    height: 8px;
    left: 0;
}*/
.w3layouts-banner-info p{
    color: #FFFFFF;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 800;
}
.w3ls-button {
    margin: 2em auto 1em;
    width: 15%;
}
.w3ls-button a {
	color: #212121;
    font-size: 1em;
    padding: .5em 2em;
    border: solid 2px #fec303;
    text-decoration: none;
    margin: 0;
    background: #fec303;
    display: block;
}
.w3ls-button a:hover {
    color: #FFFFFF;
    background: none;
    border: solid 2px #FFFFFF;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 1em;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {wthree-history-info
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 123%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #fec303;
    border: 2px solid #fec303;
}
/*-- //slider --*/
/*-- //banner-info --*/
/*-- welcome --*/
.welcome,.services,.history,.testimonials,.specials-dot,.newsletter,.agile-about-top,.team,.events,.gallery,.codes,.typography,.contact,.single{
	padding:4em 0;
}
.agile-title h2,.agile-title h3,.wthree-info-text h2{
    color: #212121;
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    text-align: center;
}
.w3ls-row,.w3-services-grids,.agileits-testimonials-grids,.agileits-specials-grids,.newsletter-info,.w3l-event-grids,.agileits-team-grids {
    margin: 4em 0 0 0;
}
.welcome-img {
    overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px 0px #656060;
	-moz-box-shadow: 0px 0px 10px 0px #656060; 
    box-shadow: 0px 0px 10px 0px #656060;
}
.welcome-left .img-responsive {
    width: 100%; 
}
.welcome-left-grids {
    padding: 0;
    margin-top: 3em;
}
.welcome-left-grids:nth-child(2) {
    padding-right: 0.5em;
}
.welcome-left-grids:nth-child(3) {
    padding-left: 0.5em;
}
.welcome-left p {
	font-size: .9em;
    color: #999999;
    line-height: 1.8em;
    margin-top: 2em;
}
.open-hours-row {
	background: #aeaeae;
}
.open-hours-left {
    padding:  0;
    text-align: center;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    background: #aeaeae;
}
.open-hours-left:nth-child(1) {
	background: #fec303;
}
.open-hours-left:nth-child(2) {
    border-left: 1px dashed #878787;
}
.open-hours-left:nth-child(3) {
    border-left: 1px dashed #878787;
    border-right: 1px dashed #878787;
}
.open-hours-left h4 {
	font-size: 1.5em;
    color: #fff;
    line-height: 1.46em;
    margin: 0;
    height:5.27em;
}
.open-hours-left h6 {
    font-size: 1em;
    color: #f1efef; 
	-webkit-transition: .5s all;
	-moz-transition: .5s all; 
	transition: .5s all;
}
.open-hours-left:hover h6{
    color: #fff;
}
.open-hours-left h5 {
    font-size: 1.3em;
    color: #000;
    margin-top: 0.5em;
    font-weight: 700;
}
.open-hours-left:hover {
    background: #fec303;
}
img.zoom-img{
	-webkit-transform: scale(1, 1);
    transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
}
img.zoom-img:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 750ms;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: 750ms;
	-ms-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-ms-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	overflow: hidden;
}
/*-- //welcome --*/
/*-- services --*/
.services {
    background: #f4f4f4;
}
.w3l-services-grid{
	text-align:center;
}
.w3ls-services-img i.fa{
    width: 90px;
    height: 90px;
    color: #dadfe2;
    font-size: 4em;
    padding: .2em 0 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-services-info h4{
    color: #000000;
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.agileits-services-info p{
	color:#999999;
	font-size:.9em;
	line-height:1.8em;
	margin:0;
}
.w3l-services-grid:hover div.w3ls-services-img i.fa{
    background: #fec303;
    padding: .9em 0 0 0;
    width: 90px;
    height: 90px;
    color: #212121;
    font-size: 2em;
}
/*-- //services --*/
/*-- history --*/
.history{
    background: url(../images/5.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.wthree-history-info h4{
	color: #FFFFFF;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 0;
    font-weight: 600;
}
.wthree-history-info p{
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1.8em;
    margin: 2em 0 2em 0;
    width: 70%;
}
.wthree-history-info a{
	color: #FFFFFF;
    font-size: .9em;
    padding: .4em .5em;
    display: block;
    border: solid 2px #FFFFFF;
    width: 11%;
    text-decoration: none;
    text-align: center;
}
.wthree-history-info a:hover{
	background: #fec303;
    color: #212121;
    border: solid 2px #fec303;
}
/*-- history --*/
/*-- testimonials --*/
.w3_testimonials_grid{
	text-align:center;
}
.w3_testimonials_grid img {
    width: 11%;
    margin: 0 auto;
    border-radius: 50%;
    border: solid 1px #cdcdcd;
}
.w3_testimonials_grid h4 {
	font-size: .9em;
    color: #999;
    line-height: 1.8em;
    margin: 1em auto;
    width: 80%;
    font-weight: 400;
}
.w3_testimonials_grid h5 {
    font-weight: 600;
    color: #212121;
    font-size: 1em;
    text-transform: uppercase;
}
.w3_testimonials_grid p {
    color: #ff9900;
    line-height: 1.8em;
    margin: .5em 0 0;
}
ul.callbacks_tabs.callbacks3_tabs a:after{
    border: 2px solid #999999;
}
ul.callbacks_tabs.callbacks3_tabs {
    top: 103%;
    left: 47%;
}
/*-- //testimonials --*/
/*-- specials --*/
.specials{
	background:url(../images/5.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.specials-heading h3{
	color:#FFFFFF;
}
.specials-heading h4{
    color: rgba(255, 255, 255, 0.47);
}
.specials-info{
    position: relative;
    overflow: hidden;	
}
.specials-info img{
	width:100%;
}
.specials-caption h4{
    margin: 0 0 .5em 0;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 1px;
}
.specials-caption p{
    margin: 0;
    color: #212121;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.8em;
    font-weight: 800;
    letter-spacing: 1px;
    background: #fec303;
    padding: 1em;
	text-align:center;
}
.specials-caption ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.specials-caption ul li{
    display: inline-block;
}
.specials-caption ul li a {
	color: #333;
    text-align: center;
}
.specials-caption {
    background: rgba(0, 0, 0, 0.26);
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.specials-info1 {
    bottom: 22% !important;
}
.specials-info:hover .specials-caption{
    background-color: transparent;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    bottom: auto;
}
.specials-info:hover .specials-caption h4{
	color:#FFFFFF;
}
.specials-info:before {
    background-color: rgba(0,0,0,0.85);
    border: 3px solid #ffffff;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.specials-info:hover:before {
    opacity: 1;
}
/*-- //specials --*/
/*-- newsletter --*/
.newsletter-info input[type="text"],.newsletter-info input[type="email"] {
    outline: none;
    padding: 1em;
    color: #999999;
    font-size: .9em;
    border: 2px solid #d8d8d8;
    width: 41%;
    float: left;
    margin-right: 2%;
}
.newsletter-info input[type="submit"]{
	color: #212121;
    background: #fec303;
    border: none;
    padding: 1em 2em;
    font-size: .9em;
    outline: none;
    text-transform: uppercase;
    float: left;
    border: 2px solid #fec303;
}
.newsletter-info input[type="submit"]:hover {
    background:none;
	border: 2px solid #212121;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*-- //newsletter --*/
/*-- Footer --*/
.w3ls-footer-grids{
    background: #0f1215;
    padding: 3em 0;
}
.copy-left p{
    color: #ffffff;
    font-size: .9em;
    margin:0;
}
.copy-left p a {
    color: #fec303;
    text-decoration: none;
}
.copy-left p a:hover{
	color:#FFFFFF;
}
.w3l-footer h3{
	font-size: 1.3em;
    color: #ffffff;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    letter-spacing: 2px;
}
.w3l-footer.one p{
	color: #a0a0a0;
    line-height: 1.8em;
    font-size: .9em;
    margin: 0 0 1em 0;
}
.w3l-footer.two ul{
	margin:0;
	padding:0;
}
.w3l-footer.two ul li{
    list-style-type: none;
    display: block;
    margin: 1em 0;
}
.w3l-footer.three {
    list-style-type: none;
}
.w3l-footer.two ul li i {
    font-size: 13px;
    margin-right: 15px;
    width: 30px;
    text-align: center;
    color: #fff;
    background: #6E65F1;
    padding: 9px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    width: 30px;
    height: 30px;
}
.w3l-footer.two ul li i.fa.fa-facebook {
	background:#5d82d2;
}
.w3l-footer.two ul li i.fa.fa-twitter {
	background:#3bbef5;
}
.w3l-footer.two ul li i.fa.fa-google-plus {
	background:#ea5d4b;
}
.w3l-footer.two ul li i.fa.fa-dribbble {
	background:#f7659b;
}
.w3l-footer.two ul li i.fa.fa-pinterest-p {
	background:#e23139;
}
.w3l-footer.two ul li a{
	color: #908F8F;
    display: block;
    text-decoration: none;
    font-size: .9em;
}
.w3l-footer.three ul{
    padding: 0;
    margin: 0;
}
.w3l-footer.three ul li {
	display: block;
}
.w3l-footer.three ul li i.fa {
	float: left;
    font-size: 18px;
    color: #fff;
	line-height: 1.8em;
}
.w3l-footer.three ul li p {
    list-style-type: none;
    display: block;
    color: #908F8F;
    font-size: .9em;
    line-height: 1.8em;
    float: left;
    margin-left: 1em;
}
.w3l-footer.three ul li span {
    display: block;
}
.w3l-footer.one {
    padding-right: 40px;
}
.w3l-footer.three ul li a {
    display: block;
    color: #908F8F;
    float: left;
    margin: .5em 0 0 1em;
    font-size: .9em;
	text-decoration:none;
}
.copy-right-grids {
	padding: 1em 0;
    background: #000000;
}
.copy-left{
	text-align:center;
}
.copy-right ul li a:hover,.w3l-footer.three ul li a:hover{
	color: #fec303;
}
.w3l-footer.two ul li:nth-child(1) a:hover {
	color:#5D82D2;
}
.w3l-footer.two ul li:nth-child(2) a:hover {
	color:#3bbef5;
}
.w3l-footer.two ul li:nth-child(3) a:hover {
	color:#ea5d4b;
}
.w3l-footer.two ul li:nth-child(4) a:hover {
	color:#f7659b;
}
.w3l-footer.two ul li:nth-child(5) a:hover {
	color:#e23139;
}
.agileinfo_footer_grid ul{
	padding:0;
}
.agileinfo_footer_grid ul li{
    margin-bottom: 1em;
    display: block;
}
.agileinfo_footer_grid ul li span{
	left:-1em;
}
.agileinfo_footer_grid ul li a{
    color: #a0a0a0;
    text-decoration: none;
    font-size: .9em;
}
.agileinfo_footer_grid ul li a:hover{
	color:#fff;
}
.agileinfo_footer_grid1{
	float:left;
	width:31.45%;
	margin:0 0.3em .3em 0em;
}
/*-- //footer --*/
.wthree-info{
	padding:3em 0;
}
.wthree-info-text{
	text-align:center;
}
.wthree-info-text h2{
	color:#FFFFFF;
}
/*-- about --*/
/*-- about-top --*/
.h-f {
    width: 49%;
    float: left;
    margin-right: 1%;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
}
.hf-text {
  text-align: center;
  background-color: #fff;
  padding-bottom: 1em;
  }
.hf-text h5 {
 font-size: 2em;
    font-weight: 400;
    color: #011750;
    line-height: 1.8em;
}
.hf-text p{
      color: #D00030;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
}
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
    padding: 1em;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-errors: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.grid figure h4 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.grid figure h4,
.grid figure p {
	margin: 0;
}
figure.effect-jazz {
    background: -webkit-linear-gradient(-65deg, #000 0%,#000 100%);
    background: linear-gradient(-65deg, #000 0%,#000 100%);
}

figure.effect-jazz img {
	opacity: 0.8;
}
figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-jazz figcaption::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
figure.effect-jazz h2,
figure.effect-jazz p {
	opacity:1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}
figure.effect-jazz h4 {
	padding-top: 1.5em;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
}
figure.effect-jazz p {
	    padding: 0em 2em;
    text-transform: none;
    font-size: 0.7em;
    opacity: 0;
    line-height: 1.8em;
}
figure.effect-jazz:hover img {
	opacity: 0.5;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}
figure.effect-jazz:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}
figure.effect-jazz:hover h4,
figure.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
.h-f.one {
    margin-bottom:0em;
}
.ab-text h3{
    color: #000000;
    font-size: 2em;
    margin: 0;
    font-weight: 800;
    line-height: 1.4em;
    text-transform: capitalize;
}
.ab-text p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0em 0;
    line-height: 1.8em;
}
.ab-text p span{
	display:block;
	margin:1em 0 0 0;
}
/*-- //about-top --*/
/*-- team --*/
.team{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.team-heading {
    text-align: center;
}
.team-heading p{
    color: #000000;
    font-size: .9em;
    margin: 1em auto 0;
    width: 40%;	
}
.team-info{
    position: relative;
    /*overflow: hidden;*/	
}
.team-info img{
	width:100%;
	border:solid 2px #333333;
}
.team-caption h4{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    margin: .5em 0 0 0;
    text-transform: uppercase;
}
.team-caption p{
    color: #ffffff;
    font-size: .9em;
    margin: 0;
}
.team-caption ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.team-caption ul li{
    display: inline-block;
}
.team-caption ul li a {
	color: #333;
    text-align: center;
}
.team-caption ul li a i.fa.fa-facebook{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}
.team-caption ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-twitter:hover{
	background: #55acee;
}
.team-caption ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
.team-caption {
	background: #fec303;
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: -105%;
    text-align: center;
    width: 100%;
    height: 130px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.team-info:hover .team-caption{
    bottom: 0%;
}
.team-info:hover .team-caption {
    bottom: 0%;
}
/*-- //team --*/
/*-- events --*/
.w3l-event-grid a{
	display:block;
}
.w3l-event-grid a img{
	width:100%;
}
.news-grid-info {
    margin-top: 1em;
}
.news-grid-info a {
    font-size: 1em;
    color: #fec303;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.news-grid-info a:hover{
	color:#000000;
}
.news-grid-info h5 {
	color: #000;
    font-size: 1em;
    margin: .5em 0;
}
.news-grid-info p {
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
/*-- //events --*/
/*-- //about --*/
/*-- gallery --*/
.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.8;
}
.agile-homes-w3l.grid figure figcaption {
	    padding: 5em 4em;
	color: #fff;
	font-size: 1.3em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**-- Moses --**/
figure.effect-moses {
	background: -webkit-linear-gradient(-45deg, #000 0%,#000 100%);
	background: linear-gradient(-45deg, #000 0%,#000 100%);
}

figure.effect-moses img {
	opacity: 0.85;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-moses h4,
figure.effect-moses p {
	padding: 20px;
	width: 50%;
	height: 50%;
	border: 6px solid #fff;
}

figure.effect-moses h4 {
     padding: 36px 20px 20px 20px;
    width: 50%;
    color: #fff;
    font-size: 50px;
    height: 50%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
    background: rgba(0, 0, 0, 0.55);
    letter-spacing: 2px;
}

figure.effect-moses p {
	float: right;
    padding: 61px 20px 20px 20px;
    font-size: 15px;
    line-height: 2em;
    text-align: center;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	    background: rgba(0, 0, 0, 0.55);
		    letter-spacing: 9px;
			    text-transform: uppercase;
}

figure.effect-moses:hover h4 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-moses:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-moses:hover img {
	opacity: 0.6;
}

/***** Winston *****/
/*-----------------*/

figure.effect-winston {
    text-align: left;
    border: solid 1px #cacaca;
}

figure.effect-winston img {
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-winston figcaption::before {
	position: absolute;
	top: 0;
	left: 10px;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	content: '';
	-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
	transition: opacity 0.45s, transform 0.45s;
	-webkit-transform: rotate3d(0,0,1,45deg);
	transform: rotate3d(0,0,1,45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

figure.effect-winston:hover img {
	opacity: 0.6;
}

figure.effect-winston:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: rotate3d(0,0,1,20deg);
	transform: rotate3d(0,0,1,20deg);
}

figure.effect-winston p {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3em 1em 4% 0;
}

figure.effect-winston p span {
    margin: 0 0 0 1em;
    color: #fec303;
    font-size: 1em;
}

figure.effect-winston p span:hover{
	color:#212121;
}

figure.effect-winston:hover p span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-winston p span {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
}

figure.effect-winston:hover p:nth-child(3) span {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-winston:hover p:nth-child(2) span {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-winston:hover p:first-child span{
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.w3_tabs_grid_sub {
    margin: 2em 0;
}
/*-- gallery --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #fec303;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    color: #fec303 !important;
    margin: 30px 0 15px;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h3.agileits-icons-title {
    text-align: center;
    color: #212121;
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
ul.bs-glyphicons-list {
    padding: 0;
    margin: 0;
}
/*-- //icons --*/
/*-- typography --*/
h3.hdg {
    font-size: 2.5em;
	color:#000 !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
	margin-bottom:1em;
	color: #333;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}
/*-- //typography --*/
/*-- contact --*/
.contact{
	padding:4em 0;
    background: #f9f9fb;
}
.contact h4 {
    margin: 0 0 1em;
    font-size: 1.5em;
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}
.map iframe {
	width: 100%;
	height: 340px;
    border: none;
}
.address {
     margin: 6em 0 0;
}
.address-grids {
	padding: 0;
}
.address h4 {
  margin: 0 0 .5em;
}
.contact-infom {
   margin: 4em 0;
}
.address p {
    margin: 0 0 .3em 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.address ul{
	padding:0;
	margin:0;
}
.address ul li{
	display: inline-block;
}
.address a {
    color: #353535;
    font-size: .9em;
    letter-spacing: 1px;
    transition: .5s all;
}
.address a:hover {
    color: #fec303;
    text-decoration: none;
}
.contact-infom p {
    margin: 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.contact-form {
    margin: 3em 0 0;
}
.contact-form input[type="text"] {
  display: inline-block;
  background: none;
  border:solid 1px #999999;
  width: 31.9%;
  outline: none;
  padding:.5em;
  font-size: .9em;
  color: #999999;
  margin-bottom: 1.5em;
}
.contact-form input[type="email"] {
  display: inline-block;
  background: none;
  border:solid 1px #999999;
  width: 31.9%;
  outline: none;
  padding:.5em;
  font-size: .9em;
  color: #999999;
  margin-bottom: 1.5em;
  margin: 0 1.25em;
}
.contact-form textarea {
  display: inline-block;
  background: none;
  border:solid 1px #999999;
  width: 100%;
  outline: none;
  padding:.5em;
  font-size: .9em;
  color: #999999;
  margin-bottom: 1.5em;
  min-height:150px;
}
button.btn1{
    color: #212121;
    font-size: 1em;
    padding: .5em 1em;
    border: solid 2px #fec303;
    text-align: center;
    text-decoration: none;
    background:#fec303;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button.btn1:hover {
    background: none;
    color: #212121;
	border: solid 2px #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*-- //contact --*/
/*-- single --*/
.single-nav h2{
    margin: 0;
    font-size: 1em;
}
.single-nav h2 a{
	color: #fff !important;
    margin: 0;
    text-decoration: none;
    padding: 0;
    letter-spacing: 1px;
}
.single-nav a:hover{
	color: #FFC107 !important;
}
.agileits-single-img img{
	width:100%;
}
.agileits-single-img h4{
    color: #000000;
    font-size: 1em;
    margin: 1em 0;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: capitalize;
}
.agileinfo-single-icons{
	margin:2em 0;
}
.agileinfo-single-icons ul{
	padding:0;
	margin:0;
}
.agileinfo-single-icons ul li{
    display: inline-block;
    color: #999999;
    font-size: .9em;
    margin-right: 1.5em;
}
.agileinfo-single-icons ul li:last-child{
	margin-right:0;
}
.agileinfo-single-icons ul li a{
    color: #999999;
	text-decoration:none;
}
.agileinfo-single-icons ul li span{
    margin-left: .5em;
}
.agileinfo-single-icons ul li span:hover{
    color: #FFC107;
}
.agileits-single-img p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
/*-- comments --*/
.agileits_three_comments{
    margin: 4em 0;
}
.agileits_three_comment_grid{
    padding:3em 0;
    border-bottom: 1px solid #dddddd;
    width: 100%;
}
.agileits_tom {
	float: left;
    border: 1px dotted #353535;
    padding: .5em;
    width: 10%;
}
.agileits_tom  img{
	width:100%;
}
.agileits_tom_right{
    float: left;
    width: 70%;
    margin-left: 3em;
}
.hardy {
    float: left;
}
.reply {
    float: left;
    margin-left: 10em;
    margin-top: .5em;
}
.reply a {
	background: none;
    border: solid 1px #000000;
    padding: .5em 2em;
    color: #000;
    font-size: .9em;
    text-decoration: none;
}
.reply a:hover{
    color: #ffffff;
    background: #fec303;
    border: solid 1px #fec303;
}
.agileits_tom_right p.lorem {
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.agileits_three_comments h3,.w3_leave_comment h3{
    text-align: left;
    color: #212121;
    font-size: 1.5em;
    margin: 0;
    font-family: 'Arvo', serif;
}
.hardy h4 {
    font-size: 1em;
    color: #000000;
    margin: 0;
    font-weight: 600;
}
.hardy p {
    color: #999999;
    margin: .5em 0 0;
    font-size: .9em;
}
.agileits_three_comment_grid:nth-child(2){
    margin:4em 0 0;
	padding-top:0 !important;
}
.agileits_three_comment_grid:last-child{
	border-bottom:none;
	padding-bottom:0 !important;
}
.agileits_three_comment_grid1{
	padding-left:5em;
}
/*-- //comments --*/
/*-- leave-comments --*/
.w3_leave_comment {
    width: 70%;
}
.w3_leave_comment form {
    margin: 3em 0 0;
}
.w3_leave_comment input[type="text"], .w3_leave_comment input[type="email"], .w3_leave_comment textarea {
    background: none;
    border: 1px solid #999999;
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: .9em;
    color: #999999;
}
.w3_leave_comment input[type="email"], .w3_leave_comment textarea {
    margin: 1em 0;
}
.w3_leave_comment textarea {
    min-height: 200px;
    resize: none;
}
.w3_leave_comment input[type="submit"] {
    border: solid 2px #fec303;
    color: #212121;
    font-size: .9em;
    padding: .5em 2em;
    text-decoration: none;
    background: #fec303;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3_leave_comment input[type="submit"]:hover {
    border: solid 2px #212121;
    background:none;
}
/*-- //leave-comments --*/
/*-- //single --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1440px){
	.top-nav {
		width: 78%;
	}
}
@media(max-width:1080px){
	.top-nav ul li a {
		margin: 0 2em;
	}
	.top-nav {
		width: 73%;
	}
	.w3ls-button {
		width: 20%;
	}
	.open-hours-left h5 {
		font-size: 1em;
	}
	.open-hours-left h4 {
		font-size: 1.4em;
	}
	.ab-text h3 {
		font-size: 1.2em;
	}
	.w3l-footer h3 {
		font-size: 1em;
	}
	.w3layouts-banner-info h3:before {
		top: 141px;
	}
	figure.effect-jazz h4 {
		padding-top: 0.5em;
	}
	.icon-box {
		padding: 8px 4px;
		font-size: .9em;
	}
	.contact-form input[type="email"] {
		width: 30.9%;
	}
	.specials-caption h4 {
		font-size: 2em;
	}
}
@media(max-width:991px){
	.top-nav ul li a {
		margin: 0 1em;
	}
	.top-nav {
		width: 70%;
	}
	.w3layouts-banner-info h3 {
		font-size: 2em;
	}
	.w3layouts-banner-info h3:before {
		top: 86px;
	}
	.banner-info {
		padding: 6em 0;
	}
	.w3ls-button {
		width: 22%;
	}
	.callbacks_tabs {
		left: 47%;
	}
	img.zoom-img {
		width: 100%;
	}
	.open-hours-left {
		float: left;
		width: 25%;
	}
	.welcome-right {
		margin: 2em 0 0 0;
	}
	.w3l-services-grid {
		margin: 2em 0 0 0;
	}
	.w3l-services-grid:nth-child(1){
		margin:0;
	}
	.wthree-history-info h4 {
		font-size: 2em;
	}
	.wthree-history-info p {
		width: 90%;
	}
	.wthree-history-info a {
		width: 19%;
	}
	.agileits-specials-grid {
		float: left;
		width: 50%;
	}
	.agileits-specials-grid:nth-child(3),.agileits-specials-grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.w3l-footer {
		margin: 2em 0 0 0;
	}
	.w3l-footer:nth-child(1){
		margin:0;
	}
	.newsletter-info input[type="text"], .newsletter-info input[type="email"] {
		width: 40%;
	}
	.ab-text {
		margin: 2em 0 0 0;
	}
	.agileits-team-grid {
		float: left;
		width: 50%;
	}
	.agileits-team-grid:nth-child(3),.agileits-team-grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.w3l-event-grid {
		margin: 2em 0 0 0;
	}
	.w3_tabs_grid_sub {
		margin: 0em 0;
	}
	.w3_tabs_grid {
	    float: left;
		width: 50%;
		margin: 2em 0 0 0;
	}
	.w3_tabs_grid:nth-child(1),.w3_tabs_grid:nth-child(2){
		margin:0;
	}
	.contact-form input[type="email"] {
		width: 29.9%;
	}
}
@media(max-width:900px){
	.top-nav {
		width: 68%;
	}
	.callbacks_tabs {
		left: 47%;
		top: 110%;
	}
	ul.callbacks_tabs.callbacks3_tabs {
		left: 45%;
	}
}
@media(max-width:800px){
	.top-nav {
		width: 65%;
	}
	.w3-header-bottom {
		padding: 1em 1em;
	}
}
@media(max-width:768px){
	.top-nav ul li a {
		font-size: .9em;
	}
	.top-nav {
		width: 64%;
	}
}
@media(max-width:736px){
	.top-nav {
		width: 60%;
	}
	.navbar-toggle {
		float: none;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
	.top-nav ul li {
		display: block;
		float: none;
		margin: 1em 0;
	}
	.navbar-nav li:after {
		background: none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border: none;
		box-shadow: none;
		background: rgba(0, 0, 0, 0.73);
		margin: 1em 0 0 0;
		position: absolute;
		width: 100%;
		z-index: 9999;
	}
	.newsletter-info input[type="text"], .newsletter-info input[type="email"] {
		width: 37%;
	}
	figure.effect-jazz h4 {
		padding-top: 1.5em;
	}
	.contact-form input[type="text"] {
		width: 31.7%;
	}
	.w3_leave_comment {
		width: 100%;
	}
	.contact h4 {
		font-size: 1em;
	}
	.address-grids:nth-child(2){
		margin:2em 0;
	}
	.address {
		margin: 2em 0 0;
	}
}
@media(max-width:667px){
	.top-nav {
		width: 58%;
	}
	.w3ls-button {
		width: 26%;
	}
	.contact-form input[type="text"] {
		width: 31%;
	}
}
@media(max-width:640px){
	.top-nav {
		width: 56%;
	}
	.wthree-history-info p {
		width: 100%;
	}
	figure.effect-jazz h4 {
		padding-top: 1em;
	}
}
@media(max-width:600px){
	.top-nav {
		width: 53%;
	}
	.w3layouts-banner-info h3 {
		font-size: 4em;
	}
	.w3layouts-banner-info h3:before {
		top: 58px;
		height: 5px;
	}
	.w3ls-button a {
		padding: .5em 1em;
	}
	.callbacks_tabs {
		left: 46%;
	}
	.reply {
		margin-left: 7em;
	}
}
@media(max-width:568px){
	.banner-info {
		padding: 4em 0;
	}
	figure.effect-jazz h4 {
		font-size: 1em;
	}
	.reply {
		margin-left: 5em;
	}
	.top-nav {
		width: 51%;
	}
	.contact-form input[type="text"] {
		width: 30%;
	}
}
@media(max-width:480px){
	.w3layouts-logo h1 a {
		font-size: 1em;
		font-weight: 600;
		letter-spacing: 17px;
	}
	.agileinfo-phone {
		float: none;
		width: 100%;
		text-align: center;
	}
	.top-nav {
		width: 100%;
		float: none;
		margin: 1em 0;
	}
	.agileinfo-social-grids {
		float: none;
		width: 100%;
		text-align: center;
	}
	.w3ls-button {
		width: 28%;
	}
	.callbacks_tabs {
		left: 45%;
		top: 98%;
	}
	.welcome, .services, .history, .testimonials, .specials-dot, .newsletter, .agile-about-top, .team, .events, .gallery, .codes, .typography, .contact, .single {
		padding: 2em 0;
	}
	.w3ls-row, .w3-services-grids, .agileits-testimonials-grids, .agileits-specials-grids, .newsletter-info, .w3l-event-grids, .agileits-team-grids {
		margin: 2em 0 0 0;
	}
	.open-hours-left h4 {
		font-size: 1.2em;
		line-height: 1.7em;
	}
	.wthree-history-info h4 {
		font-size: 1.2em;
	}
	.wthree-history-info a {
		width: 30%;
	}
	.specials-caption {
		padding: .5em;
	}
	.newsletter-info input[type="text"], .newsletter-info input[type="email"] {
		width: 100%;
		margin: 0 0 1em 0;
	}
	.agile-title h2, .agile-title h3, .wthree-info-text h2 {
		font-size: 2em;
	}
	.h-f {
		width: 100%;
		float: none;
		margin: 1em 0 0 0;
	}
	.h-f:nth-child(1){
		margin:0;
	}
	figure.effect-jazz h4 {
		padding-top: 4em;
	}
	figure.effect-jazz p {
		padding: 0em 4em;
	}
	.w3_testimonials_grid h4 {
		width: 90%;
	}
	ul.callbacks_tabs.callbacks3_tabs {
		left: 42%;
		top: 98%;
	}
	.contact-form input[type="text"] {
		width: 100%;
	}
	.contact-form input[type="email"] {
		width: 100%;
		margin: 0 0 1.5em 0;
	}
	.agileits_tom {
		width: 18%;
	}
	.agileits_three_comment_grid1 {
		padding-left: 2em;
	}
	.agileits_three_comments {
		margin: 2em 0;
	}
	.w3_leave_comment form {
		margin: 2em 0 0;
	}
	.agileits_three_comment_grid:nth-child(2) {
		margin: 2em 0 0;
	}
	.contact-infom {
		margin: 2em 0;
	}
}
@media(max-width:414px){
	.w3ls-button {
		width: 34%;
	}
	.callbacks_tabs {
		left: 44%;
	}
	.open-hours-left {
		float: none;
		width: 100%;
		padding: 2em 0;
	}
	.open-hours-left:nth-child(2) {
		border-top: 1px dashed #878787;
		border-left: none;
	}
	.open-hours-left:nth-child(3) {
		border-top: 1px dashed #878787;
		border-bottom: 1px dashed #878787;
		border-left: none;
		border-right: none;
	}
	.wthree-history-info p {
		width: 90%;
	}
	.w3_testimonials_grid img {
		width: 20%;
	}
	.agileits-specials-grid,.agileits-team-grid{
		float: none;
		width: 100%;
		margin:2em 0 0 0;
	}
	.agileits-specials-grid:nth-child(1),.agileits-team-grid:nth-child(1){
		margin:0;
	}
	.specials-caption {
		padding: 1em;
	}
	.agileits_tom_right {
		width: 72%;
		margin-left: 1em;
	}
	.reply {
		margin-left: 2em;
	}
	.wthree-info {
		padding: 2em 0;
	}
	.w3layouts-banner-info p {
		letter-spacing: 4px;
	}
	.icons .bs-glyphicons li {
		width: 31%;
	}
}
@media(max-width:384px){
	figure.effect-jazz h4 {
		padding-top: 3em;
	}
	.reply a {
		padding: .5em 1em;
	}
	.w3layouts-logo h1 a {
		letter-spacing: 10px;
	}
}
@media(max-width:375px){
	/*.w3layouts-banner-info h3 {
		font-size: 2em;
	}*/

    .top-nav ul li a {
		margin: 1em;
	}
	.w3layouts-banner-info h3:before {
		top: 42px;
	}
	.w3ls-button {
		width: 37%;
	}
	.callbacks_tabs {
		left: 42%;
	}
	.wthree-history-info h4 {
		letter-spacing: 3px;
	}
	ul.callbacks_tabs.callbacks3_tabs {
		left: 40%;
	}
	figure.effect-jazz h4 {
		padding-top: 2em;
	}
	.w3_tabs_grid {
		float: left;
		width: 100%;
		margin:2em 0 0 0;
	}
	.w3_tabs_grid:nth-child(2) {
    margin: 2em 0 0 0;
}
}
@media(max-width:320px){
	.w3layouts-logo h1 a {
		letter-spacing: 5px;
		font-size: .9em;
	}
	.w3-header-bottom {
		padding: .5em 0em;
	}
	.w3ls-button {
		width: 43%;
		margin: 1em auto 1em;
	}
	.banner-info {
		padding: 2em 0;
	}
	.w3layouts-banner-info h3 {
		font-size: 2em;
	}
	.w3layouts-banner-info h3:before {
		top: 29px;
		height: 3px;
	}
	.open-hours-left {
		padding: 1em 0;
	}
	.agile-title h2, .agile-title h3, .wthree-info-text h2 {
		font-size: 1.5em;
	}
	.wthree-history-info a {
		width: 40%;
	}
	.wthree-history-info p {
		width: 98%;
	}
	.wthree-history-info h4 {
		font-size: 1em;
	}
	ul.callbacks_tabs.callbacks3_tabs {
		left: 38%;
	}
	figure.effect-jazz p {
		padding: 0em 1em;
	}
	figure.effect-jazz h4 {
		padding-top: 1em;
	}
	.map iframe {
		height: 12.500em;
	}
	.agileits_three_comment_grid1 {
		padding-left: 1em;
	}
	.agileits_tom_right {
		width: 75%;
		margin-left: .5em;
	}
	.reply {
		margin-left: 1em;
	}
	.agileits_three_comment_grid {
		padding: 2em 0;
	}

  

}


@media screen and (min-width: 270px) and (max-width: 320px){
    .screen_size{width:100% !important;}
}
/*-- //responsive --*/ 
 /* profile styles*/
 @media only screen and (max-width: 1024px){
	.height_set{ height:13.188em !important; overflow:hidden; margin-top:34px;}
	.cover_pannel:hover {
    padding-top: 6.875em !important;
    transition-duration: 0.2s;
}
    .list_item{padding-left:0 !important;}
.height_fix {
    height: 8.688em !important;
}



	}

 @media only screen and (max-width: 768px){
     .height_set {
    height: 20.688em !important;
    overflow: hidden;
    margin-top: 2.125em;
}
     .cover_pannel:hover {
    padding-top: 14.375em !important;
    transition-duration: 0.2s;
}

     .height_fix {
    height: 14.125em !important;
}
 }

@media only screen and (max-width: 767px) {
    .height_fix {
    height: 20.250em !important;
}
}


 


@media only screen and (max-width: 425px){
     .height_set{ height:auto !important;}
     .cover_pannel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    padding-top: 25.375em !important;
}

     .cover_pannel:hover {
    padding-top: 19.063em !important;
    transition-duration: 0.2s;
}

     .height_fix {
    height: 9.563em !important;
}
 }

@media screen and (min-width:270px) and (max-width:425px) {
    .w3layouts-banner-info h3 {
		font-size: 2em !important;
	}
}






@media only screen and (max-width: 375px){
     .height_set{ height:auto !important;}
     .cover_pannel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    padding-top: 25.375em !important;
}

 .cover_pannel:hover {
    padding-top: 15.250em !important;
    transition-duration: 0.2s;
}

 .height_fix {
    height: 8.000em !important;
}
 }




@media only screen and (max-width: 320px){
     .height_set{ height:auto !important;}
     .cover_pannel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    padding-top: 25.375em !important;
}

.cover_pannel:hover {
    padding-top: 11.125em !important;
    transition-duration: 0.2s;
}

.height_fix {
    height: 15.000em !important;
}
 }

.image_responsive{ width:100%; height:100%;}
.cover_pannel{ width:100%; height:100%;     position:absolute; left:0; overflow:hidden; padding-top:20.625em;}
.cover_pannel:hover{ padding-top:89px;transition-duration:0.2s;}
.list_item{ width:100%; padding:10px; background:#FC0; overflow:hidden; height: 101px;}
.list_item ul{ padding:0;  display:block; margin:auto; width: 8.188em;}
.list_item ul li{ list-style-type:none;}
.list_item ul li a{
	display:block; float:left; width:3.125em; height:3.125em; color:#fff; border:solid 0.313em #fff; text-align:center; line-height:2.500em; font-size:1.125em;
	margin:0.313em;
	}
	
.list_item ul li a:hover{ color:#000; border:solid 0.313em #000; text-decoration:none;}
.list_item ul h3{ font-size:0.813em; color:#000; text-transform:uppercase; font-weight:bold; text-align:center; margin-top:0}
.list_item ul h3 a{ text-decoration:none; color:#000;}
.list_item ul h4 { color:#000; text-align:center; font-size:1.2em; margin-top:0.313em;}
.list_item ul h5{color:#000; text-align:center; font-size:0.813em; margin-top:0.313em;margin-bottom:0;}
.height_set{ height:11.875em; overflow:hidden; margin-top:2.125em;}
.cover_pannel a {
    text-decoration:none;
}
.margin_30 {    margin-bottom: 5.875em;
}
.height_fix {
    height: 11.000em;
}

.responsive_image{width:100%; height:100%;}
.overflow_hidden{overflow:hidden;}
.item_color{color:#000 !important;}