body{ font-family:'Roboto', sans-serif !important;}
.wrapper-row{width:100%;float:left;}
.image-responsive{width:100%;}

.color-fff{color:#fff;}
.color-black{color:#000;}
.color-blue{color:#0CF;}
.color-red{color:#C00;}
.color-green{color:#99D630;}
.color-ash{color:#999;}
.color-ash-darck{color:#333;}
.color-orange{color:#f46f25;}

.bg-fff{background-color:#fff;}
.bg-blue{background-color:#247dd6;}
.bg-sky-blue{background-color:#29abe2;}
.bg-red{background-color:#9f161a;}
.bg-ash{background-color:#a5a5a5;}
.bg-black{background-color:#000;}
.bg-green{background-color:#10c35b;}
.bg-yellow{background-color:#f0c033;}
.bg-green-two{background-color:#a9d53a;}
.bg-light-ash{background-color:#e2e2e2;}

.bg-lignt-black{background-color:#191919;}
.bg-orange{background-color:#F46F25;}
.bg-darck{background-color:#787878;}
.bg-313131{background-color:#313131;}
.bg-light-f3f2f2{background-color:#f3f2f2;}



.padding-top-one{padding-top:1%;}
.padding-top-two{padding-top:2%}
.padding-top-three{padding-top:3%;}
.padding-top-four{padding-top:4%;}
.padding-top-five{padding-top:5%;}
.padding-top-six{padding-top:6%;}
.padding-top-seven{padding-top:7%;}
.padding-top-eight{padding-top:8%;}
.padding-top-nine{padding-top:9%;}
.padding-top-ten{padding-top:10%;}
.padding-top-per{padding-top:20%;}
.padding-top-53{ padding-top:53px;}


.padding-bottom-one{padding-bottom:1%;}
.padding-bottom-two{padding-bottom:2%;}
.padding-bottom-three{padding-bottom:3%;}
.padding-bottom-four{padding-bottom:4%;}
.padding-bottom-five{padding-bottom:5%;}
.padding-bottom-six{padding-botom:6%;}
.padding-bottom-seven{padding-bottom:7%;}
.padding-bottom-eight{padding-bottom:8%;}
.padding-bottom-nine{padding-bottom:9%;}
.padding-bottom-ten{padding-bottom:10%;}



padding-pixeltype{}

.padding-top-2px{padding-top:2px;}
.padding-top-3px{padding-top:3px;}
.padding-top-4px{padding-top:4px;}
.padding-top-5px{padding-top:5px;}
.padding-top-6px{padding-top:6px;}
.padding-top-7px{padding-top:7px;}
.padding-top-8px{padding-top:8px;}
.padding-top-9px{padding-top:9px;}
.padding-top-10px{padding-top:10px;}
.padding-top-11px{padding-top:11px;}
.padding-top-12px{padding-top:12px;}
.padding-top-13px{padding-top:13px;}
.padding-top-14px{padding-top:14px;}
.padding-top-15px{padding-top:15px;}
.padding-top-16px{padding-top:16px;}
.padding-top-17px{padding-top:17px;}
.padding-top-18px{padding-top:18px;}
.padding-top-19px{padding-top:19px;}
.padding-top-20px{padding-top:20px;}
.padding-top-30px{padding-top:30px;}
.padding-top-32px{padding-top:32px;}
.padding-top-zerow{/* padding-top:0px !important; */}
.padding-left-two{padding-left:2%;}
.common-padd{padding:10px;}
.padding-bottom-zerow{padding-bottom:0 !important;}
.padding-top-7{padding-top: 3px !important;}


.margin-top-one{margin-top:1%;}
.margin-top-two{margin-top:2%;}
.margin-top-three{margin-top:3%;}
.margin-top-four{margin-top:4%;}
.margin-top-five{margin-top:5%;}
.margin-top-six{margin-top:6%;}
.margin-top-seven{margin-top:7%;}
.margin-top-eight{margin-top:8%;}
.margin-top-nine{margin-top:9%;}
.margin-top-ten{margin-top:10%;}
.margin-top-zerow{margin-top:0px !important;}
.margin-bottom-zerow{margin-bottom:0px;}
.uppercase{ text-transform:uppercase;}
.bottom-solide{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
}
.margin-top-20{ margin-top:1.250em;}


.fon-size-12{font-size:12px;}
.font-size-13{font-size:13px;}
.font-size-14{font-size:14px;}
.font-size-15{font-size:15px;}
.font-size-16{font-size:16px;}
.font-size-17{font-size:17px;}
.font-size-18{font-size:18px;}
.font-size-19{font-size:19px;}
.font-size-20{font-size:20px;}
.font-size-21{font-size:21px;}
.font-size-22{font-size:22px;}
.font-size-23{font-size:23px;}
.font-size-24{font-size: 24px;}
.font-size-25{font-size:25px;}
.font-size-26{font-size:26px;}
.font-size-27{font-size:27px;}
.font-size-28{font-size:28px;}
.font-size-29{font-size:29px;}
.font-size-30{font-size:30px;}
.font-em{font-size: 1.6em !important;}
.wight{ font-weight:100;}
.text-align-right{text-align:right;}
.text-align-left{text-align:left;}
.float-left{float:left;width:100%;}

.line-height-one{ line-height:1em;}
.line-height-two{ line-height:2em;}
.line-height-33{line-height:33px;}
.over-flow{ overflow:hidden;}
.header-bg{
	background-image:url(../../images/bg-img/bg01.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	border-top: solid 1px #222628;
	box-shadow: inset 0px 1px 0px 0px #3e484a;
	/* background-color: #5d9b8e; */
	}
.navbar-default{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(146, 146, 146, 0.31) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.43) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	border:none;
	border-bottom: solid 1px #576367;
	box-shadow: inset 0px -1px 0px 0px #2b2b2a;
	}
	
.navbar-inverse{
	background-color: #5c988c;
	top: -104px;
	margin-top:100px;
	transition-duration:1.0s;
	border:none;
	}
.navbar-fixed-top{
	top: -104px;
	
	}
.fixed-animate{transition-duration:1.0s;}
	
.font-controller {
	 font-size:18px;
	}
.font-controller p {
	 font-size: 17px;
	 color:#fff;
	}
section{ width:100%; float:left; position:relative;}
	
.logo{font-family: 'Yanone Kaffeesatz', sans-serif;}
.search_cover{
	width:100%;
	float:left;
		}
.search-box-pannel{
	width: 71%;
	float:left;
	outline:none;
	border:none;
	font-size:16px;
	padding: 13px;
	}
.search-button{
	width: 70px;
	background-color: #1fd4b0;
	color:#FFF;
	outline:none;
	border:none;
	text-align:center;
	padding: 9px;
	font-size: 21px;
	float:left;
	}
	
.search-button:hover{
     background-color:#CCC;
	 color:#000;
	}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-section{
	width:100%;
	float:left;
	padding-top:30px;
	background-image:url(../../images/bg-img/bg02.jpg);
	background-repeat:repeat;
	padding-bottom:30px;
	    border-top: solid 1px #222628;
    box-shadow: inset 0px 1px 0px 0px #3e484a;

	}
.line-repeat{
	width:100%;
	padding:10px;
	text-align:center;
	float:left;
	margin-top:20px;
	background: #fff url(../../images/icons/bg04.png);
	background-repeat:repeat;
	margin-bottom: 15px;
	}
	
.line-repeat:hover{
	width:100%;
	padding:10px;
	text-align:center;
	float:left;
	margin-top:20px;
	background: #fff url(../../images/icons/bg04.png);
	background-repeat:repeat;
	margin-bottom: 15px;
	opacity:0.5;
	transition-duration:0.2s;
	}
	
.title{
	color:#fff;
	}
.title h4{
	color:#fff;
	}
.light-font{
	color:#a0a8ab;
	font-weight:200;
	font-size: 16px;
	}
.light-font p{
	
	}
.section-repeat{
	background: #fff url(../../images/icons/bg04.png);
	background-repeat:repeat;
	padding-top:20px;
	padding-bottom: 45px;
	width:100%;
	float:left;
	}
	
.list-pannel{
	width:100%;
	float:left;
	}
.list-pannel ul{padding:0; margin:0;}
.list-pannel ul li{list-style-type:none;padding: 22px; width:100%; float:left;}
.title-two{}
.title-two h2{ margin-top:0px !important ;}
.title-three{}
.title-three h3{font-size: 22px;color:#96a9b5;margin-top:0px;}

.link-list{
	width:100%;
	float:left;
	background-color:#fff;
	padding:22px;
	}
.link-list ul{ padding:0; margin:0;}
.link-list ul li{ list-style-type:none;}
@media only screen and (max-width:1024px){
.link-list ul li a{font-size:14px !important;}
.link-list ul li a:hover{font-size: 1.3vw !important;}
.side-list ul li{font-size: 12px !important;}

}
.tick{margin-right:20px;}
.link-list ul li a{display:block;color:#000;padding-top: 13px;padding-bottom: 12px;text-decoration:none;font-size:18px;border-bottom: 1px solid #efefef;}
.link-list ul li a:hover{color:#C30;text-decoration:none; font-size:18px;
border-bottom: 1px solid #efefef;}

.hvr-grow{ margin-top:20px;}
.photo-span{width: 58px;float:left;margin-bottom: 10px;margin-right:10px;}
.side-list{width: 71%;float:left;}
.side-list ul{padding:0; margin:0;}
.side-list ul li{list-style-type:none;padding-top:0;padding-bottom: 10px;}
.side-list ul li a{color:#F30;text-decoration:none;font-size: 17px;}
.footer-pannel{ width:100%; float:left;
background-image:url(../../images/bg-img/footer-bg.jpeg);
background-repeat:repeat;
background-attachment:fixed;
background-position: center top;
padding-top:60px;
padding-bottom:90px;
}

.footer-links{ width:100%; float:left;}
.footer-links ul{ padding:0; margin:0;}
.footer-links ul li{ list-style-type:none;}
.footer-links ul li a{display:block;padding:5px;text-decoration:none;font-size:16px;color:#333;border-bottom: 1px solid #f7f2f2;}
.footer-links ul li a:hover{padding:5px; text-decoration:none; font-size:16px; color:#fff;border-bottom: 1px solid #f7f2f2; transition-duration:0.2s; padding-left:20px;}
.footer-wrapp{
	border-top: solid 1px #b5bec3;
    box-shadow: inset 0px 1px 0px 0px #e0e4e7;
	width:100%;
	float:left;
	padding-top:47px;
	margin-top:62px;
	}
.bottom-link{ width:100%; float:left;}
.bottom-link ul{padding:0; margin:0;}
.bottom-link ul li{ list-style-type:none;}
.bottom-link ul li a{
	 display:block;
	 float:left;
	 border-right:1px solid #8d9ca9;
	 color:#8d9ca9;
	 font-size:16px;
	 text-decoration:underline;
	 padding-left:5px;padding-right:5px;
	
    }
	
.bottom-link ul li a:hover{
	 float:left;
	 border-right:1px solid #8d9ca9;
	 color:#8d9ca9;
	 font-size:16px;
	 padding-left:5px;padding-right:5px;
	 text-decoration:none;
    }
.btm-pf{ width:100%; float:left;}
.btm-pf p{ color:#8d9ca9; font-size:14px; text-align:center;}
a.pf-link{ text-decoration:underline;color:#8d9ca3;}
a.pf-link : hover{ text-decoration:none !important;color:#8d9ca9;}

.photo-list-wrapper{ width:100%; float:left;}
.photo-list-wrapper ul{ padding:0; margin:0;}
.photo-list-wrapper ul li{
	list-style-type:none;
	float:left;
	width: 28%;
	display:block;
	padding: 7px;
	}
.list-items{ width:100%; float:left;}
.list-items ul{ padding:0; margin:0;}
.list-items ul li{ list-style-type:none;}
.list-items ul li a{
    display:block;
    padding:10px;
    text-decoration:none;
    border-bottom: 1px solid #f1f1f1;
    color:#333;
    padding-left: 30px;
    background-image:url(../../images/icons/side-list.png);
    background-repeat:no-repeat;
    background-position: 6px 14px;
    
	}
.list-items ul li a:hover{padding:10px; text-decoration:none; border-bottom:1px solid #f1f1f1; color:#999; transition-duration:1.2s; padding-left:40px;
    background-image:url(../../images/icons/side-list.png);
    background-repeat:no-repeat;
    background-position: 6px 14px;background-color:#CCC;}
	
	
.toggle-button{
	border:none;
	outline:none;
	width:100%;
	padding: 6px;
	color:#fff;
	background-color: #333333;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	text-align:left;
	
	}
.toggle-button:hover{
	border:none;
	outline:none;
	width:100%;
	padding: 6px;
	color:#fff;
	background-color: #000000;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	text-align:left;
	transition-duration:0.2s;
	padding-left:20px;
	
	}
	
.side-toggle{width: 241px;position: absolute;z-index:100;left: -200px;top: 105px;}
.side-toggle-add{ left:0px !important; transition-duration:0.1s;}
.toggle-sm{ width:200px;}
.side-toggle-button{
	float:left;
	width:40px;
	padding:10px;
	border:none;
	outline:none;
	background-color:#315852;
	text-align:center;
	color:#fff;
	font-size: 35px;
	font-weight:bold;
	}
	
.side-toggle-button:hover{
	float:left;
	width:40px;
	padding:10px;
	border:none;
	outline:none;
	background-color:#CCC;
	text-align:center;
	color:#fff;
	font-size: 35px;
	font-weight:bold;
	/* padding-top:30px; */
	}
	
.toggle-1{}
.button-1{}
.google-play{width: 125px;float:right;padding: 14px;}
.title-four{width:100%;float:left;padding-top: 23px;}
.title-four h4{width:100%;float:left;font-size: 22px;color:#96a9b5;/* text-transform:uppercase; */}
.text-filed-two{
	width: 83%;
	float:left;
	border:none;
	outline:none;
	padding:10px;
	color:#999;
	font-size:16px;
	border: 1px solid #e0dede;
	}
	
.button-search{
	width: 70px;
	float:left;
	border:none;
	outline:none;
	background-color: #5b93ea;
	text-align:center;
	padding: 12px;
	font-size:14px;
	color:#FFF;
	}
	
.button-search:hover{
	width: 70px;
	float:left;
	border:none;
	outline:none;
	background-color: #3d7fe6;
	text-align:center;
	padding: 12px;
	font-size:14px;
	color:#fff;
	}
	
.pagenation{
	width:100%;
	float:left;
	padding:5px;
	position:relative;
	height:70px;
	}
.pagenation ul{ padding:0; margin:0;}
.pagenation ul li{ list-style-type:none;}
.pagenation ul li a{display:block;float:left;padding: 3px;text-align:center;margin: 1px;border:1px solid #999;color:#999;background-color:#fff;text-transform:uppercase;}
.pagenation ul li a:hover{
	float:left;
	padding: 10px;
	text-align:center;
	margin:
	-1px;
	border: 1px solid #fff;
	color: #fff;
	background-color: #ff7300;
	text-transform:uppercase;
	text-decoration:none;
	}

.photo-list{ margin-top:20px;}
.photo-list p{font-size: 10px;}
.photo-list h4{font-size: 12px;/* margin-bottom: 0px; */}
.photo-list ul{padding:0;margin:0;display:block;background-color:#fff;float:left;border: 1px solid #e6e6e6;}
.photo-list ul li{ list-style-type:none; width:100%; float:left; padding:10px; text-align:center;}
.photo-list ul li:last-child{ list-style-type:none; width:100%; float:left; padding:0px; text-align:center;}
.photo-responsive{width:100px;height: 128px;}
.background{
	background-repeat:no-repeat;
	background-position: 0px -173px;
	background-size:cover;
	background-attachment:fixed;
	background-image:url(../../images/bg-img/banner.jpg);
	padding-bottom: 114px;
	padding-top: 124px;
	}
.center-board{
	width:200px;
	height: 1px;
	background: #fff;
	margin:auto;
	margin-top: 25px;
	border:none;
	top: -7px;
	}
	
.small-dot{
	width:10px;
	height:10px;
	background-color:#fff;
	margin:auto;
	position:relative;
	top: 31px;
	z-index: 100;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	}
	
.title-3{}
.title-3 h3{
	color:#96a9b5;
	font-size: 20px;
	margin-top: 0px;
	}
.data-list{ width:100%; float:left;}
.data-list ul{ padding:0; margin:0;}
.data-list ul li{ list-style-type:none; display:block; float:left; width:100%;}	
.data-list ul li h2{ font-size:24px; font-weight:bold;color:#000;}	
.data-list ul li h4{ font-size:18px; color:#96a9b5; font-weight:bold;}	
.data-list ul li p{ font-size:14px; color:#000;}
.low-firm{
	width:100%;
	float:left;
	background-image:url(../../images/bg-img/frm.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position: 0px -5px;
	padding-top:50px;
	padding-bottom:50px;
	}
	
a.read-more{
	padding:10px;
	text-align:center;
	color:#fff;
	font-size:18px;
	background-color:#189f84;
	margin-top:20px;
	display:block;
	/* margin:auto; */
	width: 111px;
	}
a.read-more:hover{
	padding:10px;
	text-align:center;
	color:#fff;
	font-size:18px;
	background-color:#CCC;
	margin-top:20px;
	display:block;
	/* margin:auto; */
	width: 111px;
	text-decoration:none;
	
	}	
	
.hvr-wobble-vertical{ margin-bottom:20px;}

.list-display{}
.list-display ul{ padding:0; margin:0;}
.list-display ul li{list-style-type:none;border-bottom: 1px solid #a5b7b3;width:100%;paddin-bottom:10px;margin-bottom:10px;text-align:left;}

.loading-front{
	width:100%;
	height:100%;
	position:fixed;
	z-index:1000;
	background-color:#189f84;
	text-align:center;
	padding-top:20%;
	color:#fff;
	}
	
.loading-front h1{color:#fff;font-weight:bold;text-transform:uppercase;font-size: 40px;}

/*loading css*/
.cssload-thecube {
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255,255,255);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

.firm-title{}
.firm-title h3{ font-weight:bold; font-size:26px; color:#fff; padding:10px; background-color:#1fd4b0;}
.firm-title h4{ font-weight:bold; font-size:23px; color:#96a9b5; margin-top:20px; margin-bottom:20px;}
.firm-title h5{font-size:21px; color:#000; margin-top:20px; margin-bottom:20px;}
.firm-title p{font-size:14px; color:#000; line-height:24px;}
.address{}
.address p{ font-size:14px; line-height:24px; color:#000;}
.address ul{ padding:0; margin:0;}
.address ul li{ list-style-type:none; padding:10px; color:#000; padding-left:0px;}
.left-solid{ border-left:1px solid #333;}
.address span{color: #f00;}
.bold b{ font-weight:bold; font-size:18px; margin-bottom:10px;}
.social-link{width:100%;float:left;}
.social-link ul{ padding:0; margin:0;}
.social-link ul li{ list-style-type:none;}
.social-link ul li a{display:block;float:left;padding: 4px;color:#000;font-size: 29px;}
.social-link ul li a:hover{float:left; padding:4px; color:#999; font-size:29px;}
.hvr-wobble-vertical{ padding-bottom:10px;}
.hvr-wobble-vertical:hover{ background-color:#189f84;padding-bottom:10px; transition-duration:1.2s;}
.passport-photo{ width:100px;}
.advocate_list_item{height:250px;}